<!--HEADER-->
<% include ../header %>
<!--END HEADER-->

<div class="sub-nav">
  <ul>
    <li><a class="active" href="/aboutITSeed">計畫簡介</a></li> |
    <li><a href="/aboutNTCA">公會簡介</a></li> |
    <li><a  href="/memberList">歷屆名單</a></li>
  </ul>
</div>
  <div class="container">
    <div class="row">
      <div class="col-sm-2"></div>
      <div class="col-sm-8">
        <div class="title-title">
          <span class="aboutITSeed-br"><%- datas[0].title %></span>
        </div>
        <div style="margin-top: 20px;">
          <!-- <video src="" style="background:rgb(252,228,228); width:100%"></video> -->
          <div class="word-12pt project-content-style">
            <!-- <br> -->
            <%- datas[0].content %>
          </div>
          <!--<h3><#% datas[0].title %></h3>-->
          <!--<div><#% datas[0].content %></div>-->
        </div>
        <div class="col-sm-2"></div>
      </div>
    </div>
  </div>
  <div class="mid-banner">
    <div class="container">
      <div class="row">
      <div class="col-sm-3 banner-content">1年培訓</div>
      <div class="col-sm-3 banner-content">4次企業參訪</div>
      <div class="col-sm-3 banner-content">6大專案</div>
      <div class="col-sm-3 banner-content">20堂課程</div>
      </div>
    </div>
  </div>

  <div class="container four-big">
    <div class="title-title">
        <span class="aboutITSeed-br">- 培訓內容 -</span>
    </div>
    <div class="row">
      
      <div class="col-sm-3">
        <div>
          <div class="four-big-title"><span>01 </span><%- datas[1].title %></div>
          <hr>
          <div><%- datas[1].content %></div>
        </div>
      </div>
      <div class="col-sm-3">
        <div>
          <div class="four-big-title"><span>02 </span><%- datas[2].title %></div>
          <hr>
          <div><%- datas[2].content %></div>
        </div>
      </div>
      <div class="col-sm-3">
        <div>
          <div class="four-big-title"><span>03 </span><%- datas[3].title %></div>
          <hr>
          <div><%- datas[3].content %></div>
        </div>
      </div>
      <div class="col-sm-3">
        <div>
          <div class="four-big-title"><span>04 </span><%- datas[4].title %></div>
          <hr>
          <div><%- datas[4].content %></div>
        </div>
      </div>
    </div>
  </div>
 <div class="top">
    <div><img src="/images/index/top.png"></div>
    Top
 </div>
 <script src="/js/specifies/frontend/aboutNTCA.js"></script>
<!-- <section class="bg-light-gray">
  <div class="container text-content">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <h3><%= datas[0].title %></h3>
        <div><%- datas[0].content %></div>
      </div>
    </div>
  </div>
</section> -->
<!--FOOTER-->
<% include ../footer %>
<!--END FOOTER-->

