<!--HEADER-->
<% include ../header %>
<!--END HEADER-->

<section class="section-aboutITSeed">
<div class="sub-nav">
  <ul>
    <li><a class="active" href="/aboutITSeed">計畫簡介</a></li> |
    <li><a href="/aboutNTCA">公會簡介</a></li> |
    <li><a  href="/memberList">歷屆名單</a></li> |
    <li><a  href="/studentIntro">學員制度</a></li>
  </ul>
</div>
  <div class="container">
    <div class="row">
      <div class="col-sm-2"></div>
      <div class="col-sm-8">
        <div class="title-title">
          <span class="aboutITSeed-br"><%- datas[0].title %></span>
        </div>
        <div style="margin-top: 20px;">
          <!-- <video src="" style="background:rgb(252,228,228); width:100%"></video> -->
          <div class="word-12pt project-content-style">
            <!-- <br> -->
            <%- datas[0].content %>
          </div>
          <!--<h3><#% datas[0].title %></h3>-->
          <!--<div><#% datas[0].content %></div>-->
        </div>
        <div class="col-sm-2"></div>
      </div>
    </div>
  </div>
  
  <div class="data">
  <div class="whatyouget">
      <div class="number">
        <p class="number1">1</p>
        <p class="number2">年學習</p>
      </div>
      <div class="number">
        <p class="number1">6</p>
        <p class="number2">大專案</p>
      </div>
      <div class="number">
        <p class="number1">4</p>
        <p class="number2">次企業參訪</p>
      </div>
      <div class="number">
        <p class="number1">20</p>
        <p class="number2">堂課程</p>
      </div>
  </div>
  
  <div class="counter">
    <div class="number">
      <p id="target1" class="number1">13</p>
      <p class="number2">屆累積</p>
    </div>
    <div class="number">
      <p id="target4" class="number1">35</p>
      <p class="number2">位緊密夥伴</p>
    </div>
    <div class="number">
      <p id="target3" class="number1">100+</p>
      <p class="number2">生涯導師</p>
    </div>
    <div class="number">
      <p id="target2" class="number1">300+</p>
      <p class="number2">校友人脈</p>
    </div>
  </div>
  <div class="cloud cloud1"></div>
  <div class="cloud cloud2"></div>
  <div class="cloud cloud3"></div>
  <div class="cloud cloud4"></div>
</div>

  <div class="container four-big">
    <div class="title-title">
        <span class="aboutITSeed-br">- 培訓內容 -</span>
    </div>
    <div class="row">
        <div class="Oval-2"></div>
      <div class="col-sm-3">
          <div class="four-big-title"><span>01 </span><%- datas[1].title %></div>
          <hr>
          <div><%- datas[1].content %></div>
      </div>
      <div class="col-sm-3">
        <div>
          <div class="four-big-title"><span>02 </span><%- datas[2].title %></div>
          <hr>
          <div><%- datas[2].content %></div>
        </div>
      </div>
      <div class="col-sm-3">
        <div>
          <div class="four-big-title"><span>03 </span><%- datas[3].title %></div>
          <hr>
          <div><%- datas[3].content %></div>
        </div>
      </div>
      <div class="col-sm-3">
        <div>
          <div class="four-big-title"><span>04 </span><%- datas[4].title %></div>
          <hr>
          <div><%- datas[4].content %></div>
        </div>
      </div>
    </div>
  </div>
 <div class="top">
    <div><img src="/images/index/top.png"></div>
    Top
 </div>
 <script src="/js/specifies/frontend/aboutNTCA.js"></script>
</section>

<!--FOOTER-->
<% include ../footer %>
<!--END FOOTER-->

