<!--HEADER-->
<% include ../header %>
<!--END HEADER-->

<section class="section-aboutITSeed">
  <% include ./sub-nav %>
  <!-- <div class="main-title-div">
    <div class="line-and-circle">
      <div class="line"></div>
      <div class="circle"></div>
    </div>
    <div class="sub-title clearfix">
      <div></div>
      <div></div>
      <div></div>
      <div>計畫簡介</div>
    </div>
  </div>
   -->
  <div class="main-titles clearfix">
      <div></div>
      <div></div>
      <div></div>
      <div>計畫簡介</div>
    </div>	
  <div class="container">
    <div class="row">
      <div class="col-sm-10 col-sm-offset-1">
        <div style="margin-top: 20px;">
          <!-- <video src="" style="background:rgb(252,228,228); width:100%"></video> -->
          <div class="word-12pt project-content-style" style="font-family: PingFangTC-Regular;font-size: 22px;color: #000000;">
            <!-- <br> -->
            <p>2003 年，<b>新北市電腦商業同業公會</b>創建了「資訊種子培訓計畫」，主要培訓對象為<b>不限科系大三到碩二有志投身IT產業的各大專院校學生</b>，
               學員通過書審與面試後，即可加入<b>為期一年的免費培訓計畫。</b><br><br>

                透過系統性的培訓課程與實務專案經驗累積，期許結業學員獲得
                <b>跨領域產業知識、正確職場態度、提高思考深度與廣度，並累積產業人脈存摺</b>，成為全方位人才，並從中摸索自己的天賦才能。<br><br>
                
                目前培訓計畫即將邁入第十七屆，計畫核心價值為<b>「分享、回饋、傳承」</b>，資訊種子廣納各大專院校不同科系背景之學員，累積培養400多位校友投身各產業服務及創業，同時回歸資訊種子進行傳承，締造累積與循環。</p>
            <!-- <%- datas[0].content %> -->
          </div>
          <!--<h3><#% datas[0].title %></h3>-->
          <!--<div><#% datas[0].content %></div>--> <b></b>
        </div>
        <div class="col-sm-2"></div>
      </div>
    </div>
  </div>

  <div class="container four-big">
    <div>
      <!-- <h2 class="aboutITSeed title">- 培訓內容 - </h2> -->
      <h1 style="color: #144989">培訓計畫資源</h1>
      <hr style="border: 0;height: 2px;background: #394B7A;background-image: linear-gradient(to right,#A5B6E3,#394B7A, #A5B6E3);width: 10%" />
    </div>
    <div class="row">

      <div data-aos="zoom-in-up" class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
        <div class="card">
          <div class="four-big-title" style="text-align: center;">
            <span><!-- <%- datas[1].title %> -->定期培訓課程、企業參訪</span></div>
          <div class="content"><!-- <%- datas[1].content %> -->
            <p>・累積跨領域知識</p>
            <p>・提升對於職場的認識</p>
            <p>・職涯發展探索</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
          <div class="four-big-title" style="text-align: center;">
            <span>實戰專案執行經驗</span><!-- <%- datas[2].title %> --></div>
          <div class="content" ><!-- <%- datas[2].content %> -->
            <p>・發揮科系專業及自身專長</p>
            <p>・累積專案實戰經驗</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
          <div class="four-big-title" style="text-align: center;">
            <span>資訊種子校友會</span><!-- <%- datas[3].title %> --></div>
          <div class="content" ><!-- <%- datas[3].content %> -->
            <p>・整合人脈資源</p>
            <p>・提供職涯諮詢</p>
            <p>・專案上的資源／建議</p>
            <!-- <div align="right">
              <button onclick="window.location.href='/aboutITSeed'" class="AfterSeed">進一步了解校友會</button>
            </div> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<!--FOOTER-->
<% include ../footer %>
<!--END FOOTER-->

