<% include ../header %>
<!--END HEADER-->

<section class="section-businessVisitList">
<div class="sub-nav">
  <ul>
    <li><a href="/courseInfo">講座課程</a></li> |
    <li><a class="active" href="/businessVisit">企業參訪</a></li> |
    <li><a href="/tuv">六大專案</a></li>
  </ul>
</div>
<div class="six-hg-title">
  <div class="six-hg-tit main-color">
      <span>企業參訪</span>
  </div>
</div>
  <br>
  <br>
  <div class="why-bsv main-color-br">
    <h4 class="main-color">參訪宗旨</h4>
    <p>透過參訪不同領域之企業，讓資種學員有機會實際前進企業，了解不同企業的組織文化、工作環境、公司現況、產業趨勢與未來發展，提早探索未來職涯，幫助學員更有方向規劃生涯，並提升自我高度與競爭力。</p>
  </div>
  <div class="bsv4">
    
    <% for(var i = 0; i < datas.length; i++){ %>
      <% if(i % 2 == 0 ){ %>
        <div class="bsV">
          <img src="<%= datas[i].photo %>">
          <div>
            <h3><%= datas[i].title %></h3>
            <hr>
            <p><%- datas[i].content %></p>
          </div>
        </div>
      <% } %>
      <% if(i % 2 == 1 ){ %>
        <div class="bsV2">
          
          <img src="<%= datas[i].photo %>">
          <div>
            <h3><%= datas[i].title %></h3>
            <hr>
            <p><%- datas[i].content %></p>
          </div>
        </div>
      <% } %>
    <% } %>
  </div>
 <div class="top">
    <div><img src="/images/index/top.png"></div>
    Top
 </div>
</section>
  <script src="/js/specifies/frontend/aboutNTCA.js"></script>


<!--FOOTER-->
<% include ../footer %>
<!--END FOOTER
