<% include ../header %>
<!--END HEADER-->
<div class="sub-nav">
  <ul>
    <li><a href="/courseInfo">講座課程</a></li> |
    <li><a class="active" href="/businessVisit">企業參訪</a></li> |
    <li><a href="/tuv">六大專案</a></li>
  </ul>
</div>
<!-- <div class="container">
  <div class="row">
    <div class="col-sm-12 schedule">
      <div class="page-title"><h2><b>企業參訪</b></h2></div>
      <div class="title-underline"><h4><b>&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;</b></h4></div>
      <div class="subtitle"><h4><b><i class="fa fa-quote-left comma" aria-hidden="true"></i>  增進職場軟硬實力 <i class="fa fa-quote-right comma" aria-hidden="true"></i></b></h4></div>
    </div>
  </div>
</div> -->

  <div class="title-title">
    <span class="main-color-br">- 企業參訪 -</span>
  </div>
  <div class="bsv4">
    <% for(var i = 0; i < datas.length; i++){ %>
      <% if(i % 2 == 0 ){ %>
        <div class="bsV">
          <img src="<%= datas[i].photo %>">
          <div>
            <h3><%= datas[i].title %></h3>
            <hr>
            <p><%- datas[i].content %></p>
          </div>
        </div>
      <% } %>
      <% if(i % 2 == 1 ){ %>
        <div class="bsV2">
          
          <img src="<%= datas[i].photo %>">
          <div>
            <h3><%= datas[i].title %></h3>
            <hr>
            <p><%- datas[i].content %></p>
          </div>
        </div>
      <% } %>
    <% } %>
  </div>
<!--   <div>
    <img src="images/businessVisit/businessVisit_MS.jpg" class="companyImgdiv" id="img-responsive">
  </div> -->

<!-- <section class="bg-light-gray" id="businessVisitList">
  <div class="container-fluid">
    <div class="row companyMSdiv2">
      <div class="col-md-12 hidden-sm hidden-xs ">
        <div class="companyMSdiv">
         <div class="col-md-8 companyMSImgdiv">
         <img src="images/businessVisit/businessVisit_MS.jpg" class="companyImgdiv" id="img-responsive">
         </div>
         <div class="col-md-4 ">
          <h3 class="companyNameMS">Microsoft</h3>
          <hr>
          <p class="companyContentMS">微軟微軟微軟軟微軟微軟微軟微軟微軟軟微軟微軟微軟微軟微軟軟微軟微軟微軟微軟微軟軟微軟微軟微軟微軟微軟微軟微軟微軟微軟微軟微軟微軟v</p>
         </div>
        </div>
      </div>
    </div>


    <div class="row companyINNOdiv2">
      <div class="col-md-12 hidden-sm hidden-xs">
        <div class="companyINNOdiv">
         <div class="col-md-4 ">
          <h3 class="companyNameINNO">Innodisk</h3>
          <hr>
          <p class="companyContentINNO">宜鼎宜鼎宜鼎宜鼎宜鼎宜鼎宜鼎宜鼎宜鼎宜鼎宜鼎宜鼎宜鼎宜鼎宜鼎宜鼎宜鼎宜鼎宜鼎宜鼎宜鼎宜鼎宜鼎宜鼎宜鼎宜鼎宜鼎宜鼎宜鼎宜鼎宜鼎</p>
          </div>
          <div class="col-md-8 companyINNOImgdiv">
            <img src="images/businessVisit/businessVisit_Innodisk.jpg" class="companyImgdiv" id="img-responsive">
          </div>
        </div>  
      </div>
    </div>

    <div class="row companyANKOdiv2">
      <div class="col-md-12 hidden-sm hidden-xs">
        <div class="companyANKOdiv">
         <div class="col-md-8 companyMSImgdiv">
         <img src="images/businessVisit/businessVisit_ANKO.jpg" class="companyImgdiv" id="img-responsive">
         </div>
         <div class="col-md-4 ">
          <h3 class="companyNameANKO">ANKO</h3>
          <hr>
          <p class="companyContentANKO">安口安口安口安口安口安口安口安口安口安口安口安口安口安口安口安口安口安口安口安口安口安口安口安口安口安口安口安口安口安口安口安口</p>
          </div>
        </div>
      </div>
    </div>

    <div class="row companyAUROdiv2">
      <div class="col-md-12 hidden-sm hidden-xs">
        <div class="companyAUROdiv">
         <div class="col-md-4 ">
          <h3 class="companyNameAURO">Aurotek</h3>
          <hr>
          <p class="companyContentAURO">和椿和椿和椿和椿和椿和椿和椿和椿和椿和椿和椿和椿和椿和椿和椿和椿和椿和椿和椿和椿和椿和椿和椿和椿和椿和椿和和椿和椿和椿和椿和椿和椿和椿和椿和椿和椿</p>
          </div>
          <div class="col-md-8 companyINNOImgdiv">
            <img src="images/businessVisit/businessVisit_Auro.jpg" class="companyImgdiv" id="img-responsive">
          </div>
        </div>
      </div>
    </div>

    <% for(var i = 0; i < datas.length; i++){ %>
      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="course-card">
          <div class="photo text-center">
            <img src="<%= datas[i].photo %>"></img>
          </div>
          <div class="image-overlay"></div>
          <div class="view-details">
            <a href="<%= url + datas[i].id %>">參訪介紹</a>
          </div>
          <div class="intro">
            <div class="title">
              <%= datas[i].title %>
              <%= datas[i].content %>
            </div>
          </div>
        </div>
      </div>
    <% } %>
  </div>
</section> -->

<!--FOOTER-->
<% include ../footer %>
<!--END FOOTER
