<!--HEADER-->
<script src="/js/specifies/frontend/career.js"></script>
<% include ../header %>
<!--END HEADER-->

<section class="section-careerSharing">
	<% include ./sub-nav %>
	<!-- <div class="main-title-div">
		<div class="line-and-circle">
			<div class="line"></div>
			<div class="circle"></div>
		</div>
		<h1>實習心得</h1>
	</div> -->
	<div class="main-titles clearfix">
			<div></div>
			<div></div>
			<div></div>
			<div>職涯體驗</div>
			<h4>由業界不同產業的學長姐提供實習職缺，讓學員進公司實習及體驗公司文化，
				亦有學長姐提供個人指導機會，<br>利用下班後時間指導學員，透過Mentor帶領的制度，提升學員職場軟硬實力，同時增進跨屆交流。</h4>
	</div>
	<div class="container">
			<div class="text-xs-center" >
    
					<button id="firm_button" class="btn-lg btn-default" style="padding-left: 1vw; padding-right: 1vw; border: solid 1px; font-size: 15px; margin-bottom: 5vh;">公司實習</button>
				  
					<button id="personal_button" class="btn-lg btn-default" style="padding-left: 1vw; padding-right: 1vw; border: solid 1px; margin-left: 4vh;  font-size: 15px; margin-bottom: 5vh;">個人指導</button>
				  </div>
		<% for(var i = 0; i < datas.length; i++){ %>
			<div class="shring-row row <%= datas[i].career_type %>" onclick="window.location.pathname = '/careerSharing/<%= datas[i].id %>'">
				<div class="image col-md-4 col-sm-4 col-xm-12">
						<img src="<%= datas[i].photo %>" alt="slider">
				</div>
				<div class="content col-md-8 col-sm-8 col-xm-12">
					<h2 class="title"><%= datas[i].title %></h2>
					<hr>
					<p><%= datas[i].description %></p>
				</div>
			</div>
		<% } %>
	</div>
</section>

<!--FOOTER-->
<% include ../footer %>
<!--END FOOTER-->