<!--HEADER-->
<% include ../header %>
<!--END HEADER-->

<section class="section-courseInfoList">
<% include ./sub-nav %>
<div class="main-title-div">
  <div class="line-and-circle">
    <div class="line"></div>
    <div class="circle"></div>
  </div>
  <h1>講座課程</h1>
</div>
<div class="container course-container">
  <div class="row">
    <% for(var i = 0; i <datas.length; i++){ %>
      <div class=".col-xs-12 .col-sm-6  .col-md-4 course-div">
        <a href="<%= url + datas[i].id %>">
            <h3 class= "course-number"  >
              <% if (i<9){ %>
                Class <%= '0'+(i+1) %>
              <% } %>
              
              <% if (i>=9){ %>
                  Class <%= (i+1) %>
                <% } %>
            </h3>
            <div class="course-content">
              <h3 class="course-title">「<%= datas[i].title %>」</h3>
              <p class="content"><%= datas[i].speaker %></p>
            </div>
            <div class="keepRead">了解更多</div>
        </a>
      </div>
    <% } %>
  </div>
</div>
</section>
<!--FOOTER-->
<% include ../footer %>
<!--END FOOTER-->
