<!--HEADER-->
<% include ../header %>
<!--END HEADER-->

<section class="bg-light-gray" id="faq">
	<div class="container">
		<div class="row">
			<br><br>
			<!--<img src="/images/layout/bg-faq.png"; style="display:block; margin:auto;" width="200px"; />-->

			<div style="background-image:url(/images/layout/bg-faq1.jpg); width=150px; height:auto; background-repeat:no-repeat; 
			background-position:center center; dmargin:auto; " >
				<div style="color:#606060;font-size:25px; text-align:center" >
					<font>常見問題</font>
				</div>
			</div>

				
				<!--
				<div class="text-center" id="top">
				<span style="color:#606060;font-size:25px;">
					
					<br>
					&nbsp&nbsp&nbsp&nbsp<font>常見問題</font>&nbsp&nbsp&nbsp&nbsp</span>
				</div>
				-->
				
			
			<div style="background-color:#95989A;width:800px;height:1pt;margin:30px auto 30px auto"></div>

		<!-- q = 有幾個"關於資種"的faq  -->
		<% var q = 8; %>
			<% for(var i = 0; i < q; i++){ %>
				<% if (datas[i] != null) { %>
					<div class="col-md-6 col-md-offset-3" id="<%= datas[i].id %>">
						<div class="faq">
							<a class="faq-heading faq-normal" data-toggle="collapse" data-parent="#accordion" href="#collapse<%= datas[i].id %>" class="collapsed">
								<%= datas[i].title %>
							</a>
							<div id="collapse<%= datas[i].id %>" class="faq-collapse collapse">
								<div class="faq-body">
									<%- datas[i].content %>
								</div>
							</div>
						</div>
					</div>
				<% } %>
			<% } %>
		</div>

		</div>
	</div>
</section>

<!--FOOTER-->
<% include ../footer %>
<!--END FOOTER-->
