
<!--HEADER-->
<% include ../header %>
<!--END HEADER-->

<section class="section-faq" id="faq" style="padding-top: 0">
	<div class="container">
		<div class="row">
			<div class="title-title">
				<span class="faq-br">常見問題</span>
			</div>
		</div>
		<% for(var i = 0; i < datas.length; i++){ %>
			<% if (datas[i] != null) { %>
				<div class="col-md-8 col-md-offset-2" id="<%= datas[i].id %>">
					<div class="faq">
						<a  data-toggle="collapse" data-parent="#accordion" href="#collapse<%= datas[i].id %>" class="collapsed">
							<div class="faq-heading" style="text-decoration: none;">
							<span><%= datas[i].title %></span>
							<span class="triangle triangle-rotate"><img alt="" src="/images/layout/triangle.png"></span>
							</div>
						<div id="collapse<%= datas[i].id %>" class="faq-collapse collapse">
							<div class="faq-body">
								<%- datas[i].content %>
							</div>
						</div>
						</a>
					</div>
				</div>
			<% } %>
		<% } %>
		</div>
		<div class="ask-question">
			<p>
				如有任何其他相關問題，請私訊資訊種子粉絲專頁
				<a href="https://www.facebook.com/iloveitseed" target="_blank">資訊種子粉絲專頁</a>，或寄信至ITseed信箱(itseed16th@gmail.com )，將由專人為您回答
			</p>
		</div>
	</div>
	<script>
		$(".top").click(function() {
    		$("html, body").animate({scrollTop: 0}, 500);
    	});
	</script>  
</section>

<!--FOOTER-->
<% include ../footer %>
<!--END FOOTER-->


<script src="/js/specifies/frontend/faq.js"></script>
