<!--HEADER-->
<% include ../header %>
<!--END HEADER-->
<img src="/images/layout/6faq.png" id="img-responsive" width="100%">
<section class="bg-light-gray" id="faq">
	<div class="container">
		<div class="row">
			<div class="col-md-10 col-md-offset-1">
				<span>如有任何相關問題，請私訊<a href="https://www.facebook.com/iloveitseed" target="_blank">資訊種子粉絲專頁</a>，或寄信到ITseed信箱(itseed14th@gmail.com)，將由專人為您服務</span>
			</div>
			<div class="col-md-10 col-md-offset-1">
				<h3>關於資訊種子</h3>
			</div>
			<!-- q = 有幾個"關於資種"的faq  -->
		<% var q = 8; %>

			<% for(var i = 0; i < q; i++){ %>
				<% if (datas[i] != null) { %>
					<div class="col-md-10 col-md-offset-1" id="<%= datas[i].id %>">
						<div class="faq">
							<a class="faq-heading faq-normal" data-toggle="collapse" data-parent="#accordion" href="#collapse<%= datas[i].id %>" class="collapsed">
								<%= datas[i].title %>
							</a>
							<div id="collapse<%= datas[i].id %>" class="faq-collapse collapse">
								<div class="faq-body">
									<%- datas[i].content %>
								</div>
							</div>
						</div>
					</div>
				<% } %>
			<% } %>

		</div>
		<div class="row">
			<div class="col-md-10 col-md-offset-1">
				<h3>報名相關事宜</h3>
			</div>
		<% for(var i = q; i < datas.length; i++){ %>
			<div class="col-md-10 col-md-offset-1" id="<%= datas[i].id %>">
				<div class="faq">
					<a class="faq-heading faq-reg" data-toggle="collapse" data-parent="#accordion" href="#collapse<%= datas[i].id %>" class="collapsed">
						<%= datas[i].title %>
					</a>
					<div id="collapse<%= datas[i].id %>" class="faq-collapse collapse">
						<div class="faq-body">
							<%- datas[i].content %>
						</div>
					</div>
				</div>
			</div>
		<% } %>
		</div>
	</div>
</section>

<!--FOOTER-->
<% include ../footer %>
<!--END FOOTER-->
