<!--HEADER-->
<% include ../header %>
<!--END HEADER-->
<img src="/images/layout/3-3doTUVs.png" id="img-responsive" width="100%">
<br>
<br>
<br>
<div class="container">
  <div class="row">
    <div class="col-sm-12 schedule">
      <div><h2 style="color: #4cb5aa"><b>TUV 專案</b></h2></div>
      <div><h4 style="color: #4cb5aa"><b>&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;</b></h4>
      <div><h4 style="color: #96b6a3"><b><i style="color: #7ae8a4"class="fa fa-quote-left" aria-hidden="true"></i> top up the value <i style="color: #7ae8a4"class="fa fa-quote-right" aria-hidden="true"></i></b></h4></div>
      </div>
    </div>
  </div>
</div>
<br>

<div id="myCarousel" class="carousel slide" style="max-width: 70%;  margin:auto;" >
   <!-- 輪播（Carousel）指標 -->
   <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
   </ol>   
   <!-- 輪播（Carousel）項目 -->
   <div class="carousel-inner">
      <div class="item active">
         <img src="/images/TUV/1TUVfirst.jpg" alt="First slide">
      </div>
      <div class="item">
         <img src="/images/TUV/2team1.jpg" alt="Second slide">
      </div>
      <div class="item">
         <img src="/images/TUV/3team1-2.jpg" alt="Third slide">
      </div>
   </div>
   <!-- 輪播（Carousel）導航 -->
   <a class="carousel-control left" href="#myCarousel" 
      data-slide="prev">&lsaquo;</a>
   <a class="carousel-control right" href="#myCarousel" 
      data-slide="next">&rsaquo;</a>
</div> 

<br>
<br>
<div class="container">
  <div class="row">
    <div class="col-sm-12 schedule">
      <div><h2 style="color: #4cb5aa"><b>春酒專案</b></h2></div>
      <div><h4 style="color: #4cb5aa"><b>&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;</b></h4>
      <div><h4 style="color: #96b6a3"><b><i style="color: #7ae8a4"class="fa fa-quote-left" aria-hidden="true"></i> 跨世代資種大團圓
突破自我發揮潛力 <i style="color: #7ae8a4"class="fa fa-quote-right" aria-hidden="true"></i></b></h4></div>
      </div>
    </div>
  </div>
</div>
<div >
<br>
  <img style="display:block; margin:auto;" src="http://i.imgur.com/OTRBXyk.png" >
  </div>
<br>
<br>

<div class="container">
  <div class="row">
    <div class="col-sm-12 schedule">
      <div><h2 style="color: #4cb5aa"><b>招生專案</b></h2></div>
      <div><h4 style="color: #4cb5aa"><b>&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;</b></h4>
      <div><h4 style="color: #96b6a3"><b><i style="color: #7ae8a4"class="fa fa-quote-left" aria-hidden="true"></i> 塑造資訊種子品牌形象
發掘合適人才一同成長 <i style="color: #7ae8a4"class="fa fa-quote-right" aria-hidden="true"></i></b></h4></div>
      </div>
    </div>
  </div>
</div>
<div >
<br>
  <img style="display:block; margin:auto;" src="http://i.imgur.com/OTRBXyk.png" >
  </div>
<br>
<br>
<div class="container">
  <div class="row">
    <div class="col-sm-12 schedule">
      <div><h2 style="color: #4cb5aa"><b>結業專案</b></h2></div>
      <div><h4 style="color: #4cb5aa"><b>&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;</b></h4>
      <div><h4 style="color: #96b6a3"><b><i style="color: #7ae8a4"class="fa fa-quote-left" aria-hidden="true"></i> 回顧一年來的成果 展望未來無限可能 <i style="color: #7ae8a4"class="fa fa-quote-right" aria-hidden="true"></i></b></h4></div>
      </div>
    </div>
  </div>
</div>
<div >
<br>
  <img style="display:block; margin:auto;" src="http://i.imgur.com/OTRBXyk.png" >
  </div>
<br>
<br>
<section style="background-color:#d6eae0;margin-top:50px;" id="careerList" >
    <div class="container dataregion">
 
  <div style="text-align:center;">
  <button type="button" class="btn btn-default" style="background-color:#1BCFC9; ">
        <a href="#" style="color: white"><h3 style="margin: auto;">立即報名<i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i></h3></a></button>
        </div>
</section>

<section class="bg-white" id="project">
	<div class="container">
    <div class="row col-md-10 col-md-offset-1">
        <ul class="nav nav-tabs" id="myTabs">
          <% for(var i = 0; i < datas.length; i++){ %>
          <li  class="<% if(i==0){ %> active <% } %>" ><a id="tab-<%= datas[i].id %>" href="#pane-<%= datas[i].id %>" data-toggle="tab"><%= datas[i].title %></a></li>

          <% } %>
        </ul>
    </div>
    <div class="row col-md-10 col-md-offset-1">    
        <div class="tab-content">
          <% for(var i = 0; i < datas.length; i++){ %>
          <div class="tab-pane <% if(i==0){ %> active <% } %>" id="pane-<%= datas[i].id %>">
              <%- datas[i].content %>
          </div>
          <% } %>
        </div>
    </div>  
     
	</div>
</section>

<!--FOOTER-->
<% include ../footer %>
<!--END FOOTER-->