<!--HEADER-->
<% include ../header %>
<!--END HEADER-->

<section class="section-sharing bg-light-gray article ">
	
	<% include ./sub-nav %>
	<div class="main-title-div">
	<div class="line-and-circle">
		<div class="line"></div>
		<div class="circle"></div>
	</div>
	<h1>經驗分享</h1>
	</div>
		
	<div class="container">
		<div class="row sharing-content-pp">
			
			<div class="col-md-10 col-md-offset-1">
				<div class="image">
					
					<h3 class="sharing-title"><%- datas[0].name %></h3>
					<div class="data3">
						<div class="whatyouget">
							
							<div class="number">
							<h3 class="sharing-title"><%- datas[0].title %></h3>
								
						</div>
							
							
						</div>
						<img src="<%= datas[0].photo %>"></img>
				</div>
				
				 		 	
				 
				<h4>
					<% if(datas[0].th != 4) {%>
						<span>第十五屆資訊種子學員</span>
					<% } %>
					<% if(datas[0].th == 4) {%>
						<span>資訊種子歷屆校友</span>
					<% } %>
					<%- datas[0].name %>
				</h4>
				<hr class="share-line">
				<div class="sharing-word"><%- datas[0].content %></div>
				<hr class="share-line">
			</div>
		</div>
	</div>
	<div class="text-xs-center back-to-share">
		<a href="/sharing">Back</a>
	</div>
</section>

<!--FOOTER-->
<% include ../footer %>
<!--END FOOTER-->
