<!--HEADER-->
<% include ../header %>
<!--END HEADER-->
<!-- <div class="banner">
	<img src="/images/layout/4experience.png" id="img-responsive" width="100%">
</div> -->
<section class="section-sharingList">
<% include ./sub-nav %>
<div class="main-title-div">
  <div class="line-and-circle">
    <div class="line"></div>
    <div class="circle"></div>
  </div>
  <h1>經驗分享</h1>
</div>

	<div class="container">
		<div class="row share-page">
			<div class="col-xs-12 share-but-part">
				<button class="share-but graduate-btn">學長姐怎麼看</button>
				<button class="share-but school-btn">學員怎麼看</button>
				<button class="share-but leader-btn">領導者怎麼看</button>
				
			</div>
			<div class="col-xs-12 share-part">
				<% var j = 0 %>
				<% var k = 0 %>
				<% var l = 0 %>
				<% var m = 0 %>
				<% for(var i = 0; i < datas.length; i++){ %>
					<% if(datas[i].th == 4) { %>
						<% if (m == 0 ) {%>
							<span class="col-xs-12 graduate-see">
								<h3>學長姐怎麼看</h3>
							</span>
							<% m = 1 %>
						<% } %>
						<div class="col-xs-12 col-md-4 col-sm-6 graduate-block">
							<a href="<%= url + datas[i].id %>" >
								<div class="graduate share-B" data-toggle="modal" data-target="#myModal">
									<img src="<%= datas[i].photo %>"></img>
									
								</div>
								<span class="share-tag">經驗分享</span>
							</a>
						</div>
					<% } %>
					<% if(datas[i].th == 1) { %>
						<% if (j == 0 ) {%>
							<span class="col-xs-12 school-see">
								<h3>學員怎麼看</h3>
							</span>
							<% j = 1 %>
						<% } %>
						<div class="col-xs-12 col-md-4 col-sm-6 school-block">
							<a href="<%= url + datas[i].id %>" >
								<div class="school share-B" data-toggle="modal" data-target="#myModal">
									<img src="<%= datas[i].photo %>"></img>
									<div class="share-title">
									
									</div>
								</div>
								<span class="share-tag">經驗分享</span>
							</a>
						</div>
					<% } %>
					<% if(datas[i].th == 2) { %>
						<% if (k == 0 ) {%>
							<span class="col-xs-12 leader-see">
								<h3>領導者怎麼看</h3>
							</span>
							<% k = 1 %>
						<% } %>
						<div class="col-xs-12 col-md-4 col-sm-6 leader-block">
							<a href="<%= url + datas[i].id %>" >
								<div class="leader share-B" data-toggle="modal" data-target="#myModal">
									<img src="<%= datas[i].photo %>"></img>
									<div class="share-title">
									
									</div>
								</div>
								<span class="share-tag">經驗分享</span>
							</a>
						</div>
					<% } %>
					<% if(datas[i].th == 3) { %>
						<% if (l == 0 ) {%>
							<span class="col-xs-12 miwan-see">
								<h3>迷惘人怎麼看</h3>
							</span>
							<% l = 1 %>
						<% } %>
						<div class="col-xs-12 col-md-4 col-sm-6 miwan-block">
							<a href="<%= url + datas[i].id %>"  >
								<div class="miwan share-B" data-toggle="modal" data-target="#myModal">
									<img src="<%= datas[i].photo %>"></img>
									<div class="share-title">
										
									</div>
								</div>
								<span class="share-tag">經驗分享</span>
							</a>
						</div>
					<% } %>
				<% } %>
	<!-- 			<div class="col-sm-4">
					<div>
						<img src="/images/sharing/five-5.jpg"/>
						<div class="share-title share-active">
							<h4>學員 秉橙</h4>
							<h5>元智大學 創意設計所 碩一</h5>
						</div>
						<div class="share-triangle"></div>
					</div>
				</div> -->

	<!-- 			<div class="col-xs-12">
					<div class="sharing-box">
						
						<div class="sharing-word">
						<h3>11</h3>
						<p>wwww</p>
						</div>
					</div>
				</div> -->
			</div>
		</div>
	</div>
</section>

<script>
	$(".school-btn").click(function() {
		$('html, body').animate({
			scrollTop: $(".school-see").offset().top - 60
		}, 500);
	});
	$(".leader-btn").click(function() {
		$('html, body').animate({
			scrollTop: $(".leader-see").offset().top - 60
		}, 500);
	});
	$(".miwan-btn").click(function() {
		$('html, body').animate({
			scrollTop: $(".miwan-see").offset().top - 60
		}, 500);
	});
	$(".graduate-btn").click(function() {
		$('html, body').animate({
			scrollTop: $(".graduate-see").offset().top - 60
		}, 500);
	});
</script>

<!--FOOTER-->
<% include ../footer %>
<!--END FOOTER-->
