<!--HEADER-->
<% include ../header %>
<!--END HEADER-->
<!-- <div class="banner">
	<img src="/images/layout/4experience.png" id="img-responsive" width="100%">
</div> -->
<div class="sub-nav">
  <ul>
	<li></li>
  </ul>
</div>
<div class="six-hg-title">
  <div class="six-hg-tit leader-color">
      <span>經驗分享</span>
  </div>
</div>

<div class="container">
	<div class="row share-page">
		<div class="col-xs-12 share-but-part">
			<button class="share-but school-btn" onclick="school()">各校系怎麼看</button>
			<button class="share-but leader-btn" onclick="leader()">領導者怎麼看</button>
			<button class="share-but miwan-btn" onclick="miwan()">迷惘人怎麼看</button>
			<!-- <button class="share-but graduate-btn" onclick="graduate()">學長姐怎麼看</button> -->
		</div>
		<div class="col-xs-12 share-part">
			<% for(var i = 0; i < datas.length; i++){ %>
				<% if(datas[i].th == 1) { %>
					<div class="col-md-4 col-sm-6 school-block">
						<a href="<%= url + datas[i].id %>">
							<div class="school share-B" data-toggle="modal" data-target="#myModal">
								<img src="<%= datas[i].photo %>"></img>
								<div class="share-title">
									<h4><%= datas[i].name %></h4>
									<h5><%= datas[i].title %></h5>
								</div>
							</div>
							<span class="share-tag">經驗分享</span>
						</a>
					</div>
				<% } %>
				<% if(datas[i].th == 2) { %>
					<div class="col-md-4 col-sm-6 leader-block">
						<a href="<%= url + datas[i].id %>">
							<div class="leader share-B" data-toggle="modal" data-target="#myModal">
								<img src="<%= datas[i].photo %>"></img>
								<div class="share-title">
									<h4><%= datas[i].name %></h4>
									<h5><%= datas[i].title %></h5>
								</div>
							</div>
							<span class="share-tag">經驗分享</span>
						</a>
					</div>
				<% } %>
				<% if(datas[i].th == 3) { %>
					<div class="col-md-4 col-sm-6 miwan-block">
						<a href="<%= url + datas[i].id %>">
							<div class="miwan share-B" data-toggle="modal" data-target="#myModal">
								<img src="<%= datas[i].photo %>"></img>
								<div class="share-title">
									<h4><%= datas[i].name %></h4>
									<h5><%= datas[i].title %></h5>
								</div>
							</div>
							<span class="share-tag">經驗分享</span>
						</a>
					</div>
				<% } %>
				<% if(datas[i].th == 4) { %>
					<div class="col-md-4 col-sm-6 graduate-block">
						<a href="<%= url + datas[i].id %>">
							<div class="graduate share-B" data-toggle="modal" data-target="#myModal">
								<img src="<%= datas[i].photo %>"></img>
								<div class="share-title">
									<h4><%= datas[i].name %></h4>
									<h5><%= datas[i].title %></h5>
								</div>
							</div>
							<span class="share-tag">經驗分享</span>
						</a>
					</div>
				<% } %>
			<% } %>
<!-- 			<div class="col-sm-4">
				<div>
					<img src="/images/sharing/five-5.jpg"/>
					<div class="share-title share-active">
						<h4>學員 秉橙</h4>
						<h5>元智大學 創意設計所 碩一</h5>
					</div>
					<div class="share-triangle"></div>
				</div>
			</div> -->

<!-- 			<div class="col-xs-12">
				<div class="sharing-box">
					
					<div class="sharing-word">
					<h3>11</h3>
					<p>wwww</p>
					</div>
				</div>
			</div> -->
		</div>
	</div>
</div>

		<script>

			// $(".share-tag").mouseover(function(){
			// 	$(".share-B").css("opacity","0.7");
			// });
			// $(".share-tag").mouseout(function(){
			// 	$(".share-B").css("opacity","1");
			// });

           function school(){
           		$('.school-block').css('display','block');
           		$('.school-btn').css('background-color','rgb(255,195,19)');
           		$('.school-btn').css('color','white');
           		$('.leader-block').css('display','none');
           		$('.leader-btn').css('background-color','white');
           		$('.leader-btn').css('color','black');
           		$('.miwan-block').css('display','none');
           		$('.miwan-btn').css('background-color','white');
           		$('.miwan-btn').css('color','black');
           		$('.graduate-block').css('display','none');
           		$('.graduate-btn').css('background-color','white');
           		$('.graduate-btn').css('color','black');
           }
           function leader(){
           		$('.school-block').css('display','none');
           		$('.school-btn').css('background-color','white');
           		$('.school-btn').css('color','black');
           		$('.leader-block').css('display','block');
           		$('.leader-btn').css('background-color','rgb(83,194,196)');
           		$('.leader-btn').css('color','white');
           		$('.miwan-block').css('display','none');
           		$('.miwan-btn').css('background-color','white');
           		$('.miwan-btn').css('color','black');
           		$('.graduate-block').css('display','none');
           		$('.graduate-btn').css('background-color','white');
           		$('.graduate-btn').css('color','black');
           }
           function miwan(){
           		$('.school-block').css('display','none');
           		$('.school-btn').css('background-color','white');
           		$('.school-btn').css('color','black');
           		$('.leader-block').css('display','none');
           		$('.leader-btn').css('background-color','white');
           		$('.leader-btn').css('color','black');
           		$('.miwan-block').css('display','block');
           		$('.miwan-btn').css('background-color','rgb(84,199,138)');
           		$('.miwan-btn').css('color','white');
           		$('.graduate-block').css('display','none');
           		$('.graduate-btn').css('background-color','white');
           		$('.graduate-btn').css('color','black');
           }
           function graduate(){
           		$('.school-block').css('display','none');
           		$('.school-btn').css('background-color','white');
           		$('.school-btn').css('color','black');
           		$('.leader-block').css('display','none');
           		$('.leader-btn').css('background-color','white');
           		$('.leader-btn').css('color','black');
           		$('.miwan-block').css('display','none');
           		$('.miwan-btn').css('background-color','white');
           		$('.miwan-btn').css('color','black');
           		$('.graduate-block').css('display','block');
           		$('.graduate-btn').css('background-color','rgb(81,158,247)');
           		$('.graduate-btn').css('color','white');
           }
           school();
        </script>

<!-- <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div> -->

<!-- <section class="bg-light-gray" id="sharingList">
	<div class="container-fluid">
		<div class="row">
		<% for(var i = 0; i < datas.length; i++){ %>
			<div class="col-md-3 col-sm-6 col-xs-12">
				<a href="<%= url + datas[i].id %>">
				<div class="course-card">
					<div class="photo text-center">
						<img src="<%= datas[i].photo %>"></img>
					</div>
					<div class="image-overlay"></div>
					<div class="view-details">
						經驗分享
					</div>
					<div class="intro">
						<div class="title">
							<%= datas[i].title %>
						</div>
						<div class="instructor">
							<strong>分享人</strong>
							<p>
								<%= datas[i].name %>
							</p>
						</div>
					</div>
				</div>
				</a>
			</div>
		<% } %>
		</div>
	</div>
</section> -->

<!--FOOTER-->
<% include ../footer %>
<!--END FOOTER-->
