
<script src="/js/specifies/jquery.validate.min.js"></script>
<script src="/js/specifies/messages_zh_TW.min.js"></script>
<script src="/js/specifies/frontend/userProfile.js"></script>


<!--HEADER-->
<% include ../header %>
<!--END HEADER-->

<section class="section-trainingProgram" class="bg-white" id="profile">
   <!-- <div class=" sub-title mainTitle clearfix"> -->
    <div class="trainingProgram-main">
        <div class=" main-titles clearfix">
            <div></div>
            <div></div>
            <div></div>
            <div>培訓計畫內容</div>
        </div>
        <p>資訊種子培訓計畫一改原先大學的授課方式，<br>期許學員能夠實際與業界接軌，開拓思考的眼界。
                </p>
        <!-- <ul>
                    
            <li></li>
            <li></li>
            <li></li>
        </ul> -->
    </div>
    <div class="trainingProgram-six">

            <div class="sub-title clearfix">
                <div></div>
                <div></div>
                <div></div>
                <div>六大專案</div>
            </div>
            <div class="trainingProgram-container">
                <ul class="row">
                    <li class="col-md-4 col-sm-6 col-sm-offset-0 col-xs-10 col-xs-offset-1">
                        <a href="/tuv" style="display: block; width:100%; height: 100%; list-style: none; text-decoration:none;">
                            <div class="content">
                                <p class="six-title">TUV專案</p>
                                <p class="six-description">「探索自身與生活中的各種可能性，藉由團隊協作將價值最大化」</p>
                                <div class="six-link">
                                    <a href="#"><img src="/images/layout/musica-searcher.png" alt=""></a>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="col-md-4 col-sm-6  col-sm-offset-0 col-xs-10 col-xs-offset-1">
                        <a href="/spring" style="display: block; width:100%; height: 100%; list-style: none; text-decoration:none;">
                            <div class="content">
                                <p class="six-title" >春酒專案</p>
                                <p class="six-description">「創造熱情氣氛，建立夥伴回憶，凝聚資種大家庭！」</p>
                                <div class="six-link">
                                    <a href="#"><img src="/images/layout/musica-searcher.png" alt=""></a>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="col-md-4 col-sm-6 col-sm-offset-0 col-xs-10 col-xs-offset-1">
                        <a href="/careers" style="display: block; width:100%; height: 100%; list-style: none; text-decoration:none;">
                            <div class="content">
                                <p class="six-title">職涯專案</p>
                                <p class="six-description">「用能力、經驗與人脈打造專屬於你的履歷」</p>
                                <div class="six-link">
                                    <a href="#"><img src="/images/layout/musica-searcher.png" alt=""></a>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="col-md-4 col-sm-6 col-sm-offset-0 col-xs-10 col-xs-offset-1">
                        <a href="/new" style="display: block; width:100%; height: 100%; list-style: none; text-decoration:none;">
                            <div class="content">
                                <p class="six-title">招生專案</p>
                                <p class="six-description">「認同、分享，並透過實作延續資種核心價值」</p>
                                <div class="six-link">
                                    <a href="#"><img src="/images/layout/musica-searcher.png" alt=""></a>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="col-md-4 col-sm-6 col-sm-offset-0 col-xs-10 col-xs-offset-1">
                        <a href="/overseaVisit" style="display: block; width:100%; height: 100%; list-style: none; text-decoration:none;">
                            <div class="content">
                                <p class="six-title">海外參訪</p>
                                <p class="six-description">「跟著資種踏出臺灣，讓自己挑戰世界的舞台」</p>
                                <div class="six-link">
                                    <a href="#"><img src="/images/layout/musica-searcher.png" alt=""></a>
                                </div>
                            </div>
                        </a>                        
                    </li>
                    <li class="col-md-4 col-sm-6 col-sm-offset-0 col-xs-10 col-xs-offset-1">
                        <a href="/end" style="display: block; width:100%; height: 100%; list-style: none; text-decoration:none;">
                            <div class="content">
                                <p class="six-title">結業專案</p>
                                <p class="six-description">「對每一屆種子來說，結業是逗號，不是句號。」</p>
                                <div class="six-link">
                                    <a href="#"><img src="/images/layout/musica-searcher.png" alt=""></a>
                                </div>
                            </div>
                        </a>   
                    </li>
                </ul>
            </div>
    </div>
    <div class="trainingProgram-courses" id="course">
            <div class="sub-title clearfix">
                <div></div>
                <div></div>
                <div></div>
                <div>講座課程</div>
            </div>
            <!-- <div><%= datas[0].author %></div> -->

            <div class="trainingProgram-container">
                <ul class="row">
                <% for(var i = 0; i <datas.length; i++){ %>
                        <li class="col-lg-3 col-md-4 col-sm-6 col-xs-6" onclick="javascript:location.href='courseInfo/'+'<%=datas[i].id %>'" style="cursor: pointer;">
                                <div class="content">
                                        <div class="course-background clearfix">
                                            <div class="course-class">class</div>
                                            <% if(datas[i].id<10){ %>
                                                <div class="course-number">0<%=datas[i].id %></div>
                                            <% }else{ %>
                                                <div class="course-number"><%=datas[i].id %></div>
                                            <% } %>
                                        </div>
                                        <p class="course-title"> 「<%=datas[i].title %>」 </p>
                                        <!-- <p class="course-author"><%=datas[i].speaker.split("|")[0] %></p> -->
                                        <p class="course-author"><%=datas[i].speaker %></p>
                                        <div class="learn-more learn-more-none">
                                            <a href="<%= 'courseInfo/' + datas[i].id %>"><p>Learn more</p></a>
                                        </div>
                                </div>
                            </li>
                        <% } %>          
                </ul>
            </div>
    </div>  
    <div class="trainingProgram-enterprise" id="enterprise">
            <div class="sub-title clearfix" style="margin-bottom: 20px;">
                <div></div>
                <div></div>
                <div></div>
                <div>企業參訪</div>
            </div>
            
            <div class="trainingProgram-enterprise-wrapper">
                <ul class="row">
                    <li class="col-lg-3 col-lg-offset-0 col-md-6 col-md-offset-0 col-sm-10 col-sm-offset-1  col-xs-10 col-xs-offset-1">
                        <a href="/businessVisit#shopee" style="display: block; width:100%; height: 100%; list-style: none; text-decoration:none;">
                            <div class="content">
                                <div class="enterprise-name">
                                        <img src="/images/trainingProgram/蝦皮logo.png" alt="">
                                    <div class="enterprise-block"></div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="col-lg-3 col-lg-offset-0 col-md-6 col-md-offset-0 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1">
                        <a href="/businessVisit#getac" style="display: block; width:100%; height: 100%; list-style: none; text-decoration:none;">
                        <div class="content">
                            <div class="enterprise-name">
                                    <img src="/images/trainingProgram/神基logo.gif" alt="">
                                <div class="enterprise-block"></div>
                            </div>
                        </div>
                        </a>
                    </li>
                    <li class="col-lg-3 col-lg-offset-0 col-md-6 col-md-offset-0 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1">
                        <a href="/businessVisit#microsoft" style="display: block; width:100%; height: 100%; list-style: none; text-decoration:none;">                       
                            <div class="content">
                                <div class="enterprise-name">
                                        <img src="/images/trainingProgram/微軟logo.png" alt="">

                                    <div class="enterprise-block">
                                    </div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="col-lg-3 col-lg-offset-0 col-md-6 col-md-offset-0 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1">
                        <a href="/businessVisit#google" style="display: block; width:100%; height: 100%; list-style: none; text-decoration:none;">
                            <div class="content">
                                <div class="enterprise-name">
                                        <img src="/images/trainingProgram/googlelogo.png" alt="">

                                    <div class="enterprise-block">
                                    </div>
                                </div>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
    </div>


</section>

<style>
.section-trainingProgram li{
    list-style: none;
}
.trainingProgram-main .main-titles{
    margin-top: 33px;
}
.trainingProgram-main p{
    margin: 0 auto;
    margin-top: 42px;
    /* margin-left: 72px; */
    font-size: 32px;
    color: #48697C;
    min-width: 760px;
    border: 1px #00a0e8 solid;
    border-radius: 2px;
    border-width: 3px;
    width: 60%;
    text-align: center;
    padding: 8px;
    margin-bottom: 50px;
}
.trainingProgram-main ul{
    display: flex;
    justify-content: space-around;
    padding: 0 42px;
    margin-bottom: 109px;
    flex-wrap: wrap;
}
.trainingProgram-main ul li {
    width: 26%;
    height: 0;
    padding-bottom: 26%;
    background-color: 	#ffcccc;
    border-radius:50%;
    list-style: none;
    min-width: 200px;
    min-height: 200px;
    margin-right: 20px;
    

    /* margin-bottom: 30px; */
}
.trainingProgram-main ul li:last-child{
    /* margin: 0; */
    /* margin-left: 0; */
    margin-right: 0;
}
@media screen and (max-width: 800px){
    .trainingProgram-main ul{
        display: block;
    }
    .trainingProgram-main ul li{
        /* width: 300px;
        height: 300px; */
        width: 240px;
        height:  240px;
        margin: 0 auto;
        margin-bottom: 20px;
    }
    .trainingProgram-main ul li:last-child{
        margin: 0 auto;
    }
    .trainingProgram-main p{     
        font-size: 16px;
        min-width: 415px;
    }
}
@media screen and (max-width: 480px){
    .trainingProgram-main ul{
        display: block;
        margin-bottom: 30px;
    }
    .trainingProgram-main ul li{
        width: 200px;
        height: 200px;
        margin: 0 auto;
        margin-bottom: 20px;
    }
    .trainingProgram-main ul li:last-child{
        margin: 0 auto;
    }
    .trainingProgram-main p{
        min-width: 300px;
        font-size: 14px;
        width: 300px;
        margin: 20px auto;
    }
}

/* 六大專案 */
.trainingProgram-container{
    margin-left: 5%;
    margin-right: 5%;
}
.trainingProgram-six{
    margin-bottom: 53px;
}


.trainingProgram-six ul li {
    list-style: none;
    padding:0 20px;
    /* min-width: 330px; */
}
.trainingProgram-six .content{
    border: 1px #9B9833 solid;
    border-radius: 1px;
    position: relative;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 20px;
    margin-top: 50px;
    height: 230px;
    /* height: 0;
    
    padding-bottom: 66%; */
    /* max-width: 325px; */
    /* max-height: 243px; */
    /* min-width: 310px; */
}
.content:hover{
    box-shadow:4px 4px 3px rgba(10%,10%,40%,0.3);
    transition: box-shadow 0.2s ease-in-out;
}
.trainingProgram-six ul li:last-child{
    margin-bottom: 0px;
}

.six-title{
    font-family: PingFangTC-Regular;
    font-size: 32px;
    line-height: 45px;
    color: #A09D3E;
}

.six-title::before{
    content:"";
    display: block;
    /* border: 1px solid #A09D3E; */
    background-color: #A09D3E;
    width: 4px;
    height: 30px;
    position: absolute;
    top: 28px;
    left: 10px;
}
.six-description{
    font-family: PingFangTC-Regular;
    font-size: 24px;
    font-weight: normal;
    color: #000000;
    margin-top: 20px;
}
.six-link{
    display: block;
    position: absolute;
    width: 8.4%;
    right: 21px;
    bottom: 17px;
}
.six-link a{
    display: block;
    width: 100%;
    height: 100%;
}
.six-link img{
    display: block;
    width: 100%;
    height: 100%;
}
.six-link .six-learn-more{
    display: none;
}
@media screen and (max-width: 1200px){
    .six-description{
        font-size: 20px;
    }
}
@media screen and (max-width: 400px){
    .trainingProgram-six{
        padding-top: 0;
    }
    .trainingProgram-six ul{
        margin: 0 auto;
    }
    .trainingProgram-six ul li{
        padding: 0;
    }
    .trainingProgram-six  .content {
        padding-left: 0;
        padding-top: 0;
        padding-right: 0;
        height: 150px;
        padding: 0;
    }
    .trainingProgram-six  .content .six-title::before{
        display: none;
    }
    .trainingProgram-six  .content .six-title{
        position: relative;
        width: 100%;
        text-align: center;
        font-size: 20px;
        padding-top: 0;
        /* padding-bottom: 50px; */
    }
    .trainingProgram-six  .content .six-description{
        font-size: 12px;
        /* margin: 0 auto; */
        margin-top: 10px;
        text-align: center;
    }
}
/* 課程 */
.trainingProgram-courses{
    margin-bottom: 100px;
}
.trainingProgram-courses .trainingProgram-container{
    margin-top: 20px;
}
.trainingProgram-courses ul li{
    padding: 10px;
    margin-top: 36px;
}
.trainingProgram-courses .content{
    width:100%;
    height:0;
    padding-bottom: 60%;
    /* background-color:red; */
    font-size: 2px;
    border: 1px solid #48697C;
    position: relative;
    border-radius: 3px;
}
.learn-more{
    display: none;
    
}
.learn-more a:hover{
    background-color: #48697C;
    color: white;
}
.learn-more a{
    width: 100%;
    height: 100%;
    display: block;
    color: #48697C;
    position: absolute;
    right: 10px;
    bottom: 10px;
    height: 30px;
    width: 120px;
    border-radius: 10px;
    text-align: center;
    border: 1px solid #48697C;
    background-color: #fff;
}
.course-text{
    padding-top: 17px;
    position: relative;
    /* height: 100%; */
    font-size: 20px;
}
.course-class{
    color: #8DC5E4;
    opacity: 0.3;
    /* font-size: 48px; */
    font-size: 2.8vw;
    /* float: left; */
    font-weight: normal;
    margin-left: 10px;

}
.course-number{
    position: absolute;
    right: 0;
    /* top: -90px; */
    font-size: 12vw;
    padding-top: 0;
    color: #8DC5E4;
    line-height: 1;
    z-index: -999;
    top: 0px;
    opacity: 0.3;
}
.course-title{
    /* background-color: green; */
    font-size: 22px;
    /* font-weight: normal; */
    width: 100%;
    /* padding: 0 50px; */
    /* padding-left: 22px; */
    text-align: center;
    margin-top: -5px;
    white-space:nowrap;
    overflow: hidden;
    text-overflow:ellipsis;
}
.course-author{
    font-size: 16px;
    position: absolute;
    font-weight: normal;
    /* bottom: 0; */
    /* top: 0; */
    bottom: 0;
    left: 5px;
    width: 100%;
    white-space:nowrap;
    overflow: hidden;
    text-overflow:ellipsis;
}
@media screen and (max-width: 1200px){
    .course-number{
        font-size: 180px;
    }
    .course-class{
        font-size: 32px;
    }
    .course-title{
        font-size: 24px;
        margin-top: 0px;
    }
}
@media screen and (max-width: 992px){
    .course-number{
        font-size: 25vw;
    }
    .course-class{
        font-size: 5vw;
    }
    .course-title{
        font-size: 22px;
        margin-top: 0px;
    }
}
@media screen and (max-width: 700px){
    .course-number{
        font-size: 23vw;
    }
    .course-class{
        font-size: 5vw;
    }
    .course-title{
        font-size: 20px;
        margin-top: 0px;
        overflow: hidden;
        white-space:nowrap;
        text-overflow:ellipsis;
        padding: 0 10px;
    }
    .course-author{
        font-size: 12px;
    }
    .trainingProgram-courses{
    margin-bottom: 20px;
    }   
}
@media screen and (max-width: 550px){
    .trainingProgram-container .row li{
        margin-top: 0;
    }
    .course-number{
        font-size: 20vw;
    }
    .course-class{
        font-size: 4vw;
    }
    .course-title{
        font-size: 12px;
        margin-top: 0px;
        /* word-break: normal; */
        /* white-space:normal; */
        white-space:nowrap;

    }
    .course-author{
        width: 100%;
        font-size: 12px;
        overflow: hidden;
        white-space:nowrap;
        text-overflow:ellipsis;
    }
    .trainingProgram-container .row .learn-more-none{
        display: none;
    }
    .trainingProgram-courses{
    margin-bottom: 20px;
    }   

}







/* 企業參訪 */
.trainingProgram-enterprise{
    margin-bottom: 50px;
}
.trainingProgram-enterprise-wrapper{
    height: 100%;
    /* background-color: #D9E9D6; */
    padding: 20px 5%;
}
 .trainingProgram-enterprise-wrapper ul{
    width: 100%;
}
.trainingProgram-enterprise-wrapper ul li{
    padding: 0 20px;
    margin-bottom: 20px;
    min-width: 360px;
    /* max-width: 550px; */
}
.trainingProgram-enterprise-wrapper .enterprise-name p{
    display: none;
}
.trainingProgram-enterprise-wrapper .enterprise-name img{
    display: block;
    width: 300px;
    height: 143px;
    margin: 0 auto;
}
@media screen and (min-width: 1200px){
    .trainingProgram-enterprise-wrapper .enterprise-name img{
        width: 240px;
        height: 120px;
    }
    .trainingProgram-enterprise-wrapper ul{
        display: flex;
    }
    .trainingProgram-enterprise-wrapper ul li{
        padding: 0 20px;
        margin-bottom: 20px;
        min-width: 280px;
        flex: 1;
    }
}
@media screen and (max-width: 450px){
    .trainingProgram-enterprise-wrapper ul li{
        padding: 0 20px;
        /* background-color: red; */
        margin-bottom: 20px;
        min-width: 160px;
        /* max-width: 550px; */
    }
    .trainingProgram-enterprise-wrapper .enterprise-name img{
        display: block;
        width: 160px;
        height: 100px;
        margin: 0 auto;
    }
}

.trainingProgram-enterprise-wrapper .enterprise-name{
    background-color: #ffffff;
    padding: 10px;
    width:  100%;
    height: 100%;
    display: block;
    /* box-shadow:4px 4px 3px rgba(10%,10%,40%,0.3); */
    border-radius: 3px;
    box-shadow: 0 3px 5px rgba(0,0,0,0.2);
} 

.enterprise-block{
    margin: 0 auto;
}




</style>
<script>
    
// $( ".content" ).mouseover(function() {
//     $(this).find('.learn-more').show(300);
// });
// $( ".content" ).mouseleave(function() {
//     $(this).find('.learn-more').css( "display", "none" );
// });
</script>

<!--FOOTER-->
<% include ../footer %>
<!--END FOOTER-->

