
<script src="/js/specifies/jquery.validate.min.js"></script>
<script src="/js/specifies/messages_zh_TW.min.js"></script>
<script src="/js/specifies/frontend/userForm.js"></script>

<% include ../header %>

<section class="section-profile" id="profile">
	<% include ../pages/checkFile %>
	<div class="container">
		<div class="sub-title clearfix">
			<div></div>
			<div></div>
			<div></div>
			<div>書審題目</div>
		</div>
		<div class="row">
			<form action="/editForm" method="post" enctype="multipart/form-data" class="form-horizontal ">
				<div class="justify-content-center">
					<div class="col-sm-12 col-xs-12">
						<!-- <label class="col-sm-12 col-xs-12 " for="name">真實姓名<b class="darkred">*</b>：</label> -->
						<div class="col-sm-12 col-xs-12 question_form">
							<div class="col-12"><h4>請描述你 3 - 5 年內的生涯規劃，若沒有請問你想怎麼改變你的現狀呢？（限300字內）</h4> <p style="color: red;" id="Q1_status"></p> </div>
							<% if(form_data.Q1 == null){%>
								<textarea  style="background-color: rgb(195, 229, 239, 0.3);" name="Q1" id="Q1" class="form-control" rows="9" autocomplete="off" style=" min-width:100%; max-width:100%; "></textarea>
							<% } else{ %>
								<textarea  style="background-color: rgb(195, 229, 239, 0.3);" name="Q1" id="Q1" class="form-control" rows="9" autocomplete="off" style=" min-width:100%; max-width:100%;"><%= form_data.Q1 %></textarea>
							<% } %>
						</div>

						<div class="col-sm-12 col-xs-12 question_form">
							<div class="col-12"><h4>資訊種子的什麼最吸引你？為什麼？（限300字內)</h4><p style="color: red;" id="Q2_status"></p></div>
							<% if(form_data.Q2 == null){%>
								<textarea  style="background-color: rgb(195, 229, 239, 0.3);"  name="Q2" id="Q2" class="form-control" rows="9" autocomplete="off" style=" min-width:100%; max-width:100%; "></textarea>
							<% } else{ %>
								<textarea  style="background-color: rgb(195, 229, 239, 0.3);" name="Q2" id="Q2" class="form-control" rows="9" autocomplete="off" style=" min-width:100%; max-width:100%;"><%= form_data.Q2 %></textarea>
							<% } %>
						</div>

						<div class="col-sm-12 col-xs-12 question_form">
							<div class="col-12"><h4>請問你有一項長期培養的專長能力嗎？</h4><h4>若有，以過去經歷佐證並說明在培訓計畫中能如何精進及應用？</h4><h4>若沒有，請寫一項你想培養的專長，以及如何培養？（限200字以內)</h4><p style="color: red;" id="Q3_status"></p></div>
							<% if(form_data.Q3 == null){%>
								<textarea  style="background-color: rgb(195, 229, 239, 0.3);" name="Q3" id="Q3" class="form-control" rows="9" autocomplete="off" style=" min-width:100%; max-width:100%; "></textarea>
							<% } else{ %>
								<textarea  style="background-color: rgb(195, 229, 239, 0.3);" name="Q3" id="Q3" class="form-control" rows="9" autocomplete="off" style=" min-width:100%; max-width:100%;"><%= form_data.Q3 %></textarea>
							<% } %>
						</div>

						<div class="col-sm-12 col-xs-12 question_form">
							<div class="col-12"><h4>請舉出一項你印象最深的團隊經驗，並寫出你在其中扮演的角色，以及過程中，如何解決遇到的困難或挑戰？（限300字內）</h4><p style="color: red;" id="Q4_status"></p></div>
							<% if(form_data.Q4 == null){%>
								<textarea  style="background-color: rgb(195, 229, 239, 0.3);" name="Q4" id="Q4" class="form-control" rows="9" autocomplete="off" style=" min-width:100%; max-width:100%; "></textarea>
							<% } else{ %>
								<textarea  style="background-color: rgb(195, 229, 239, 0.3);" name="Q4" id="Q4" class="form-control" rows="9" autocomplete="off" style=" min-width:100%; max-width:100%;"><%= form_data.Q4 %></textarea>
							<% } %>
						</div>

						<div class="col-sm-12 col-xs-12 question_form">
							<div class="col-12"><h4>請以你一週的生活方式為參考，以百分比表示你平時是如何規劃和管理時間？</h4><p style="color: red;" id="Q5_1_status"></p></div>
							<% if(form_data.Q5_1 == null){%>
								<textarea  style="background-color: rgb(195, 229, 239, 0.3);" name="Q5_1" id="Q5_1" class="form-control" rows="9" autocomplete="off" style=" min-width:100%; max-width:100%; "></textarea>
							<% } else{ %>
								<textarea  style="background-color: rgb(195, 229, 239, 0.3);" name="Q5_1" id="Q5_1" class="form-control" rows="9" autocomplete="off" style="min-width:100%; max-width:100%;"><%= form_data.Q5_1 %></textarea>
							<% } %>
						</div>


						<div class="col-sm-12 col-xs-12 question_form">
							<div class="col-12"><h4>承上，請問你未來若加入資種，預計如何規劃和管理時間？</h4><p style="color: red;" id="Q5_2_status"></p></div>
							<% if(form_data.Q5_2 == null){%>
								<textarea  style="background-color: rgb(195, 229, 239, 0.3);" name="Q5_2" id="Q5_2" class="form-control" rows="9" autocomplete="off" style="min-width:100%; max-width:100%; "></textarea>
							<% } else{ %>
								<textarea  style="background-color: rgb(195, 229, 239, 0.3);" name="Q5_2" id="Q5_2" class="form-control" rows="9" autocomplete="off" style="min-width:100%; max-width:100%;"><%= form_data.Q5_2 %></textarea>
							<% } %>
						</div>						


						<div class="col-sm-12 col-xs-12 question_form">
							<div class="col-12"><h4>請說明你一年後想要從資訊種子培訓計畫達成的目標與獲得的能力，並具體敘述原因以及會做什麼以達成目標和培養能力。（限400字以內)</h4><p style="color: red;" id="Q6_status"></p></div>
							<% if(form_data.Q6 == null){%>
								<textarea  style="background-color: rgb(195, 229, 239, 0.3);" name="Q6" id="Q6" class="form-control" rows="9" autocomplete="off" style="min-width:100%; max-width:100%; "></textarea>
							<% } else{ %>
								<textarea  style="background-color: rgb(195, 229, 239, 0.3);" name="Q6" id="Q6" class="form-control" rows="9" autocomplete="off" style=" min-width:100%; max-width:100%;"><%= form_data.Q6 %></textarea>
							<% } %>
						</div>	

						<!-- <p>建議使用尺寸為 250x250 以上正方形圖片，檔案大小限制為2MB。</p> -->
					</div>
					<div class="col-sm-12 col-xs-12 text-center" style="margin-top: 5vh; margin-bottom: 5vh;">
						<button onclick="window.location.href='/profile';window.event.returnValue=false;" class="btn-lg btn-default">上一步</button>
						<button type="submit" id="no_require_save" class="btn-lg btn-yellow cancel">儲存資料</button>
						<input class="btn-change btn-lg btn-default" name = "move" id="goto_upload" type='button' value="下一步">
					</div>
				</div>
			</form>
		</div>
	</div>
</section>

<style type="text/css">
.question_form{
	margin: 10px;
}
</style>

<!--FOOTER-->
<% include ../footer %>
<!--END FOOTER-->

