<script src="/js/specifies/jquery.validate.min.js"></script>
<script src="/js/specifies/messages_zh_TW.min.js"></script>
<script src="/js/specifies/frontend/userFiles.js"></script>

<!--HEADER-->
<% include ../header %>
<!--END HEADER-->

<section class="bg-white" id="files">
	<div class="container">
		<div class="row col-md-10 col-md-offset-1">
			<ul class="nav nav-tabs">
				<li><a href="/profile">個人資料</a></li>
				<li><a href="/disc">DISC測驗</a></li>
				<li class="active"><a href="/files">書審資料</a></li>
			</ul>
		</div>
		<div class="row col-md-10 col-md-offset-1">
			<label class="col-sm-2 col-xs-12">
			<a class="btn btn-success" href="/regfile" target="_blank">繳交說明</a>
			</label>
		</div>
		<div class="row col-md-10 col-md-offset-1">
			<label for="registration" class="col-sm-2 col-xs-12">報名表</label>
			<div class="col-sm-8 col-xs-12">
				<p class="formatInfo">
					最新版本:
					<% 
						if(files.registrationUT == null)
							files.registrationUT = "";

						if(files.registration == null)
							var url = "";
						else{
							var url = files.registration;
							var start = url.search("/") + 1;
							url = url.slice(start);
							start = url.search("/") + 1;
							url = url.slice(start);
							start = url.search("/") + 1;
							url = url.slice(start);
						}
					%> 
					<a href="<%= files.registration %>"><%= url %></a><br>
					上傳時間: 
					<b><%= files.registrationUT %></b>
				</p>
				<form action="/uploadReg" method="post" enctype="multipart/form-data">
					<p class="formatInfo">
						請以<b class="red">「pdf」</b>檔案格式上傳報名表。上傳限制大小為<b class="red"> 5MB</b><br>
						檔案命名規則請依照此格式撰寫<br>
						<b>「英文名子_Registration」</b>。<br>
						(如：報名者林資種的英文翻譯名字為Zi-Zhong,Lin，則將檔案命名為
						「ZiZhongLin_Registration」)。
					</p>
				<% if (system == "open") {%>
					<div>
						<input type="file" name="registration">
						<button type="button" class="btn btn-default">選擇檔案</button>
						<button type="submit" class="btn btn-green">送出</button>
					</div>
				<% } %>
				</form>
			</div>
		</div>
		<div class="row col-md-10 col-md-offset-1">
			<label for="autobiography" class="col-sm-2 col-xs-12">自傳</label>
			<div class="col-sm-8 col-xs-12">
				<p class="formatInfo">
					最新版本:
					<% 
						if(files.autobiographyUT == null)
							files.autobiographyUT = "";

						if(files.autobiography == null)
							var url = "";
						else{
							var url = files.autobiography;
							var start = url.search("/") + 1;
							url = url.slice(start);
							start = url.search("/") + 1;
							url = url.slice(start);
							start = url.search("/") + 1;
							url = url.slice(start);
						}
					%> 
					<a href="<%= files.autobiography %>"><%= url %></a><br>
					上傳時間: 
					<b><%= files.autobiographyUT %></b>
				</p>
				<form action="/uploadAut" method="post" enctype="multipart/form-data">
					<p class="formatInfo">
						請以<b class="red">「pdf」</b>檔案格式上傳自傳。上傳限制大小為<b class="red"> 5MB</b><br>
						檔案命名規則請依照此格式撰寫<br>
						<b>「英文名子_Autobiography」</b>。<br>
						(如：報名者林資種的英文翻譯名字為Zi-Zhong,Lin，則將檔案命名為
						「ZiZhongLin_Autobiography」)。
					</p>
				<% if (system == "open") {%>
					<div>
						<input type="file" name="autobiography">
						<button type="button" class="btn btn-default">選擇檔案</button>
						<button type="submit" class="btn btn-green">送出</button>
					</div>
				<% } %>
				</form>
			</div>
		</div>
		<div class="row col-md-10 col-md-offset-1">
			<label for="receipt" class="col-sm-2 col-xs-12">匯款證明</label>
			<div class="col-sm-8 col-xs-12">
				<p class="formatInfo">
					最新版本:
					<% 
						if(files.receiptUT == null)
							files.receiptUT = "";

						if(files.receipt == null)
							var url = "";
						else{
							var url = files.receipt;
							var start = url.search("/") + 1;
							url = url.slice(start);
							start = url.search("/") + 1;
							url = url.slice(start);
							start = url.search("/") + 1;
							url = url.slice(start);
						}
					%> 
					<a href="<%= files.receipt %>"><%= url %></a><br>
					上傳時間: 
					<b><%= files.receiptUT %></b>
				</p>
				<form action="/uploadRec" method="post" enctype="multipart/form-data">	
					<p class="formatInfo">
						請以<b class="red">「pdf」</b>檔案格式上傳自傳。上傳限制大小為<b class="red"> 5MB</b><br>
						檔案命名規則請依照此格式撰寫<br>
						<b>「英文名子_Receipt」</b>。<br>
						(如：報名者林資種的英文翻譯名字為Zi-Zhong,Lin，則將檔案命名為
						「ZiZhongLin_Receipt」)。
					</p>
				<% if (system == "open") {%>
					<div>
						<input type="file" name="receipt">
						<button type="button" class="btn btn-default">選擇檔案</button>
						<button type="submit" class="btn btn-green">送出</button>
					</div>
				<% } %>
				</form>
			</div>
		</div>
	</div>
</section>

<!--FOOTER-->
<% include ../footer %>
<!--END FOOTER-->
