<script src="/js/specifies/jquery.validate.min.js"></script>
<script src="/js/specifies/messages_zh_TW.min.js"></script>
<script src="/js/specifies/frontend/userFiles.js"></script>

<!--HEADER-->
<% include ../header %>

<!--END HEADER-->
<section class="section-files bg-white" style="margin-bottom:100px" id="files">
	<% include ../pages/checkFile %>
	<div class="container">
		<% if(files.confirm == 1) {%>
			<div class="row col-xs-12 disc-over">
				<span>恭喜您已完成書審資料繳交</span>
			</div>
		<% }else {%>
		<div class="row col-md-10 col-md-offset-1">
			<label for="autobiography" class="col-sm-2 col-xs-12">個人履歷：</label>
			<div class="col-sm-8 col-xs-12">
				<p class="formatInfo">
					最新版本:
					<%
						if(files.autobiographyUT == null)
							files.autobiographyUT = "";

						if(files.autobiography == null)
							var url = "";
						else{
							var url = files.autobiography;
							var start = url.search("/") + 1;
							url = url.slice(start);
							start = url.search("/") + 1;
							url = url.slice(start);
							start = url.search("/") + 1;
							url = url.slice(start);
						}
					%>
					<a href="<%= files.autobiography %>"><%= url %></a><br>
					<!-- <strong><%= url %></strong> -->
					<!-- <br> -->
					<!-- 上傳時間: -->
					<!-- <b><%= files.autobiographyUT %></b> -->
					<!-- <br><br> -->
					<!-- <span>因系統因素，目前檔案上傳後無法檢視，但資料上傳功能皆正常，請報名者不用擔心！</span> -->
				</p>
				<form action="/uploadAut" method="post" enctype="multipart/form-data">
					<div class="applicant-file">
					<div>
						請以<b class="red">「pdf」</b>上傳限制大小為<b class="red"> 5MB</b><br>
					</div>
					<div>
						內容<br>
						1. 一頁以內<br>
						2. 建議內含：姓名、學歷、經歷、專長能力，及其他有利審查資料
					</div>
				
					<!-- <div>
						<span>學生證明</span>
						學生證正反面影本或照片、研究所錄取證明書影本或照片
					</div> -->
					<!-- <p class="formatInfo"> -->
						
						檔案命名規則<b>「姓名_個人履歷」</b>。<br>
						(如：報名者 陳資種，則將檔案命名為
						<b>「陳資種_個人履歷」</b>)。
						<br><br>
						上傳方式：點選「選擇檔案」，完成選取檔案後，點選「上傳」<br>
						※ 可以重複上傳檔案<br>
					<!-- </p> -->
				</div>
					<div class="text-xs-center">
						<input type="file" name="autobiography">
						<button type="button" class="btn btn-default">選擇檔案</button>
						<button type="submit" style="color:white;" class="btn btn-purple">上傳</button>
					</div>
				</form>
				
			</div>
		</div>

		<div class="row col-md-10 col-md-offset-1">
			<label for="registration" class="col-sm-2 col-xs-12">學生證明：</label>
			<div class="col-sm-8 col-xs-12">
				<p class="formatInfo">
					最新版本:
					<%
						if(files.registrationUT == null)
							files.registrationUT = "";

						if(files.registration == null)
							var url = "";
						else{
							var url = files.registration;
							var start = url.search("/") + 1;
							url = url.slice(start);
							start = url.search("/") + 1;
							url = url.slice(start);
							start = url.search("/") + 1;
							url = url.slice(start);
						}
					%>
					<a href="<%= files.registration %>"><%= url %></a><br>
					<!-- <strong><%= url %></strong> -->
					<!-- <br> -->
					<!-- 上傳時間: -->
					<!-- <b><%= files.registrationUT %></b> -->
					<!-- <br> -->
					<!-- <span>因系統因素，目前檔案上傳後無法檢視，但資料上傳功能皆正常，請報名者不用擔心！</span> -->
				</p>
				<form action="/uploadReg" method="post" enctype="multipart/form-data">
					<div class="applicant-file">
					<div>
						請以<b class="red">「pdf」</b>上傳限制大小為<b class="red"> 5MB</b><br>檔案格式上傳基本資料。基本資料內建議包含以下資訊
					</div>
					<div>
						<span>履歷</span>
						<div>
						<ol>
							<li>一頁以內</li>
							<li>建議內含：姓名、學歷、經歷、專長能力，及其他有利審查資料</li>
						</ol>
						</div>
					</div>
				
					<div>
						<span>學生證明</span>
						學生證正反面影本或照片、研究所錄取證明書影本或照片
					</div>
					<!-- <p class="formatInfo"> -->
						
						檔案命名規則請依此格式撰寫<b>「姓名_基本資料」</b>。<br>
						(如：報名者 陳資種，則將檔案命名為
						<b>「陳資種_基本資料」</b>)。
						<br><br>
						上傳方式：點選「選擇檔案」，完成選取檔案後，點選「上傳」<br>
						※ 可以重複上傳檔案<br>
					<!-- </p> -->
				</div>
					<div class="text-xs-center">
						<input type="file" name="registration">
						<button type="button" class="btn btn-default">選擇檔案</button>
						<button type="submit" style="color:white;" class="btn btn-purple">上傳</button>
					</div>
				</form>
			</div>
		</div>
<!-- 			<div class="col-xs-12 confirm-btn">
				<form action="/confirm" method="post">
					<div class="text-xs-center">
						<p>當完成撰寫並上傳書審題目和基本資料</p>
						<p>且確定不再更改後，請按下此按鈕完成繳交的動作</p>
						<button type="submit" class="btn-lg btn-purple" style="color:white">完成書審資料</button>
					</div>
				</form>
			</div> -->
		<% } %>
<!-- 		<hr>
		<div class="row col-md-10 col-md-offset-1">
			<label for="autobiography" class="col-sm-2 col-xs-12">貝殼集器：</label>
			<div class="col-sm-8 col-xs-12">
				<p class="formatInfo">
					完成資料填寫後，請至貝殼集器繳交100元報名費<br>
					繳交完畢後預計於三個工作天內回覆<br>
					若三天內未收到回覆，請來信至itseed16th@gmail.com詢問<br>
					<a  href=<%= process.env.payLink %> target="_blank">
						<img alt="backme.png" src="/images/index/backme.png" class="backme">
					</a>
				</p>
				<div class="text-xs-center">
					<a href=<%= process.env.payLink %> target="_blank">
						<button class="btn btn-purple" style="color:white; font-size: 15px;">馬上前往</button>
					</a>
				</div>
			</div>
		</div> -->
	</div>
</section>

<!--FOOTER-->
<% include ../footer %>
<!--END FOOTER-->
