<script src="/js/specifies/jquery.validate.min.js"></script>
<script src="/js/specifies/messages_zh_TW.min.js"></script>
<script src="/js/specifies/frontend/userProfile.js"></script>


<!--HEADER-->
<% include ../header %>
<!--END HEADER-->

<section class="section-profile" id="profile">
	<% include ../pages/checkFile %>
	<div class="container" id="sub_profile" style="background-color : white;">
		<div class="sub-title clearfix">
			<div></div>
			<div></div>
			<div></div>
			<div>個人資料</div>
		</div>
		<div class="col-xs-12 col-md-10 col-md-offset-1">
			<p style="font-size: 13pt; height: 10px;">有標注 <b class="darkred">*</b> 為必填資料</p>
		</div>
		<div class="row">
			
				<div class="justify-content-center uploadPhoto">
					<img src="<%= user.photo %>" alt="" class="uploadPhoto-img img-responsive center-block">
					<div class="col-sm-12 col-xs-12 text-center uploadPhoto-top">
						<!-- <label class="col-sm-12 col-xs-12 " for="name">真實姓名<b class="darkred">*</b>：</label> -->
					<form id="uploadPhoto" action="/uploadPhoto" method="post" enctype="multipart/form-data" style="margin-top: 20px; margin-bottom:20px;">
						<button type="button" class="btn btn-default" id="uploadBtn">選擇照片</button>
						<button type="submit" class="btn btn-yellow" >上傳</button>
						<p>【 選擇照片後請按上傳 】</p>
						<input type="file" class="" name="photo">
					</form>
<!-- 						<div class="col-sm-12 col-xs-12">
							<% if(user.name == null){%>
								<input type="text" name="name" class="btn-block none-border-field text-center" id="name" placeholder="ex: 林資種" autocomplete="off">
							<% } else{ %>
								<input type="text" name="name" class="btn-block none-border-field text-center" id="name" placeholder="請輸入真實姓名*" value="<%= user.name %>" autocomplete="off">
							<% } %>
						</div> -->

						<!-- <p>建議使用尺寸為 250x250 以上正方形圖片，檔案大小限制為2MB。</p> -->
					</div>
				</div>
			<form id="personl_info" action="/editProfile" method="post" enctype="multipart/form-data" class="form-horizontal clearfix">
				<div class=" col-sm-12 col-xs-12 set-profile">

					<div class="form-border "></div>
					<div class="form-sub-title ">
						<label class="col-sm-3 col-xs-12 " for="phone">姓名<b class="darkred">*</b>：</label>
						<div class="col-sm-3 col-xs-12">
							<% if(user.name == null){%>
								<input required="required" type="text" name="name" class="btn-block none-border-field" id="name" placeholder="ex: 林資種" autocomplete="off">
							<% } else{ %>
								<input required="required" type="text" name="name" class="btn-block none-border-field" id="name" placeholder="請輸入真實姓名*" value="<%= user.name %>" autocomplete="off">
							<% } %>
						</div>
						<p class="col-sm-3 col-xs-12 " style="height: 40px;"></p>
					</div>

					<div class="form-border "></div>
					<div class="form-sub-title ">
						<label class="col-sm-3 col-xs-12 " for="phone">連絡電話<b class="darkred">*</b>：</label>
						<div class="col-sm-3 col-xs-12">
							<% if(user.phone == null){%>
								<input required="required" type="text" name="phone" class="none-border-field btn-block " id="phone" placeholder="ex: 0800090000" autocomplete="off" onkeyup="this.value=this.value.replace(/[^\d]/,'')" >
							<% } else{ %>
								<input required="required" type="text" name="phone" class="none-border-field btn-block" id="phone" placeholder="ex: 0800090000" value="<%= user.phone %>" autocomplete="off" onkeyup="this.value=this.value.replace(/[^\d]/,'')">
							<% } %>
						</div>
						<p class="col-sm-3 col-xs-12 " style="height: 40px;"></p>
					</div>
					<div class="form-border"></div>
					<div class="form-sub-title ">
							<label class="col-sm-3 col-xs-12" >性別<b class="darkred">*</b>：</label>
							<div class="col-sm-3 col-xs-12" >
								<label class="radio-inline" > 
									<% if(user.gender == "M"){%>
										<input required="required" type="radio" name="gender" value="M" checked> 男
									<% } else{ %>
										<input required="required" type="radio" name="gender" value="M"> 男
									<% } %>
								</label>
								<label class="radio-inline" style="padding-left: 20px;">
									<% if(user.gender == "F"){%>
										<input required="required" type="radio" name="gender" value="F" checked> 女
									<% } else{ %>
										<input required="required" type="radio" name="gender" value="F"> 女
									<% } %>
								</label>
							</div>
							<p class="col-sm-3 col-xs-12 "></p>

					</div>
					<div class="form-border "></div>
					<div class="form-sub-title">
						<label class="col-sm-3 col-xs-12" for="school">就讀學校<b class="darkred">*</b>：</label>
						<div class="col-sm-3 col-xs-12">
							<% if(user.school == null){%>
								<input required="required" type="text" name="school" class="none-border-field btn-block" id="school" placeholder="ex: 資種大學">
							<% } else{ %>
								<input required="required" type="text" name="school" class="none-border-field btn-block" id="school" placeholder="ex: 資種大學" value="<%= user.school %>">
								<% } %>
							</div>
							<p class="col-sm-3 col-xs-12 "></p>
						</div>
					<div class="form-border "></div>
					<div class="form-sub-title">
						<label class="col-sm-3 col-xs-12" for="dept">系所<b class="darkred">*</b>：</label>
						<div class="col-sm-3 col-xs-12">
							<% if(user.dept == null){%>
								<input required="required" type="text" name="dept" class="none-border-field btn-block" id="dept" placeholder="ex: 資訊管理學系">
							<% } else{ %>
								<input required="required" type="text" name="dept" class="none-border-field btn-block" id="dept" placeholder="ex: 資種大學" value="<%= user.dept%>">
							<% } %>
						</div>
						<p class="col-sm-3 col-xs-12 "></p>
					</div>
					<div class="form-border "></div>
					<div class="form-sub-title">
						<label class="col-sm-3 col-xs-12" for="grade">年級<b class="darkred">*</b>：</label>
						<div class="col-sm-3 col-xs-12">
							<% if(user.grade == null){%>
								<input required="required" type="text" name="grade" class="none-border-field btn-block" id="grade" placeholder="ex: 三年級">
								<% } else{ %>
									<input required="required" type="text" name="grade" class="none-border-field btn-block" id="grade" value="<%= user.grade %>" placeholder="ex:三年級">
									<% } %>

						</div>
						<p class="col-sm-3 col-xs-12 comment" style="height: 40px;">※ 請填寫未來一學年的年級</p>
					</div>
					<div class="form-border "></div>
					<div class="form-sub-title">
						<label class="col-sm-3 col-xs-12" for="reference">推薦人：</label>
						<div class="col-sm-3 col-xs-12">
							<% if(user.reference == null){%>
								<input type="text" name="reference" class="none-border-field btn-block" id="reference" placeholder="ex: 張資種, 陳資種, 黃資種">
							<% } else{ %>
								<input type="text" name="reference" class="none-border-field btn-block" id="reference" placeholder="ex: 張資種, 陳資種, 黃資種" value="<%= user.reference %>">
							<% } %>
						</div>
						<p class="col-sm-3 col-xs-12 comment" style="height: 40px;">※ 此選項<b>不影響</b>徵選結果</p>
					</div>
					<div class="form-border "></div>
					<div class="form-sub-title">
							<label class="col-sm-120 col-xs-12" >請問你是透過何種管道得知資種？（可複選）</label>
					</div>
					<div class="form-group" style="margin-left: 15%;">
							<div class="col-sm-12 col-xs-12">
								<label><input type="checkbox" name="survey" value="海報" />　海報　</label>
								<label><input type="checkbox" name="survey" value="說明會" />　說明會　</label>
								<label><input type="checkbox" name="survey" value="工作坊" />　工作坊　</label>
								<label><input type="checkbox" name="survey" value="FB粉專" />　FB粉專（懶人包、宣傳影片等）　</label><br>
								<label><input type="checkbox" name="survey" value="官網" />　官網　</label>
								<label><input type="checkbox" name="survey" value="Blink" />　Blink　</label>
								<label><input type="checkbox" name="survey" value="親朋好友推薦" />　親朋好友推薦　</label>
								<label><input type="checkbox" name="survey" class="survey-other" value="其他" />　其他：<input hidden type="text" class="survey-input"></label>
							</div>
						</div>
<!-- 					<div class="col-sm-12 col-xs-12 text-center">
						<hr>
						<button type="submit" class="btn-lg btn-yellow" style="color:white;" >儲存個人資料</button>
					</div> -->
					<div class="col-sm-12 col-xs-12 text-center" style="margin-top: 5vh; margin-bottom: 5vh;">
						<input class="btn-change btn-lg btn-default" name = "move" type='submit' value="上一步">
						<button type="submit" class="btn-lg btn-yellow"  >儲存資料</button>
						<input class="btn-change btn-lg btn-default" name = "move" type='submit' value="下一步">
					</div>
				</form>
		</div>

	</div>
</section>
<!--FOOTER-->
<% include ../footer %>
<!--END FOOTER-->
<style type="text/css">
.form-border{
	border-top: rgba(0, 0, 0, 0.1) 2px solid;
	width: 75%;
	margin: 0 auto;
	margin-bottom: 10px;
}
.none-border-field::placeholder{
	color: #ccc;
}
.none-border-field{
	position: relative;
	outline: none;
	background-color:transparent;border:0;
	margin: 0 auto;
	font-size: 26px;
	margin-bottom: 8px;
}
.uploadPhoto{
	margin-bottom: 7vh;
}
.uploadPhoto-top button{
	width: 150px;
}
.uploadPhoto-img{
	border-radius: 100%;
	width: 200px;
	height: 200px;
	background-color: #ccc;
	margin: 0 auto;
}
.uploadPhoto-img:hover{
	background: #ccc;
}
.uploadPhoto-botton{
	width: 50%;
	margin: 0 auto;
	margin-top: 10px;
}
.uploadPhoto-botton input{
	margin-top: 4px;
	color: #878787;
}
.form-sub-title{
    width: 100%;
    margin: 0 auto;
    /* overflow: hidden; */
	display: flex;
	position: relative;
}
.form-sub-title label{
	margin-left: 15%;
	font-size: 18px;
	color: #2a6aa1
}
.form-sub-title input{
	font-size: 18px;
	margin-left: 10%;
}
.form-sub-title input::placeholder{
	/* margin-right: 20px; */
}
/* 註解 */
.annotation{
	position: absolute;
	left: 68%;
	margin-left: 10px;
}
.btn-group{
	padding: 0 20%;
}
.btn-group label{
	background-color: #fff;
	color: black;
	border-color: #83B9D5;
}
.btn-group label:hover{
	background-color: #83B9D5;
	border-color: #83B9D5;
}
.btn-group .active{
	background-color: #83B9D5;
	border-color: #83B9D5;
}
.applicant-text{
	font-size: 14px;
	color: #2a6aa1;
	padding-left: 5%;
	/* background-color: red; */
	width: 45%;
	margin: 0 auto;
	margin-top: 10px;
	border-radius: 3px;
	border: 1px solid #83B9D5;
}
.profile-upload label{
	font-size: 20px;
	padding-left: 10%;
	font-weight: normal;
	color: #2a6aa1;
	
}
.profile-upload .formatInfo{
	font-size: 16px;
}
/* comment */
/* @media screen and (max-width: 1200px){
	input{
		w300px
	}
} */
</style>
<script src="https://unpkg.com/jspdf@latest/dist/jspdf.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.js"></script>
<script type="text/javascript">
var school_list = JSON.parse('<%-JSON.stringify(school)%>');
var dept_list = JSON.parse('<%-JSON.stringify(dept)%>');
autocomplete(document.getElementById("school"), school_list, "school");
autocomplete(document.getElementById("dept"), dept_list, "dept");
let source_reulst_text = "<%= user.survey %>";
		source_reulst_text.split(',').forEach(str => {
			if(str.indexOf('其他:') > -1){
				$('input[value="其他"]').prop('checked', true);
				$('input.survey-input').show();
				$('input.survey-input').val(str.split('其他:')[1]);
				$('input.survey-other').val( '其他:' + str.split('其他:')[1] );
			}else{
				$(`input[value='${str}']`).prop('checked', true);
			}
		});
		$('input.survey-other').click(function(){
			if( $(this).prop("checked") ){
				$('input.survey-input').show();
			}else{
				$('input.survey-input').hide();
			}
		})
		$('input.survey-input').keypress(function(){
			
			$('input.survey-other').val( '其他:' + $(this).val() );
			
		})
		var button = $('button');
			button.on('click', function () {
			$(this).toggleClass('active');
		}); 
</script>