<script src="/js/specifies/jquery.validate.min.js"></script>
<script src="/js/specifies/messages_zh_TW.min.js"></script>
<script src="/js/specifies/frontend/userFiles.js"></script>

<!--HEADER-->
<% include ../header %>

<!--END HEADER-->
<section class="section-files bg-white" style="margin-bottom:100px" id="files">
	<% include ../pages/checkFile %>
	<div class="container">
		<div id="profile-nav" class="row col-md-10 col-md-offset-1">
			<ul class="nav nav-tabs profile-ul">
				<li><a href="/disc">DISC測驗</a></li>
				<li><a href="/profile">個人資料</a></li>
				<!-- <%=files.confirm%> -->
				<!-- <%=files.finished%> -->
				<li class="active"><a href="/files">書審資料</a></li>
			</ul>
		</div>
		<% if(files.confirm == 1) {%>
			<div class="row col-xs-12 disc-over">
				<span>恭喜您已完成書審資料繳交</span>
			</div>
		<% }else {%>
		<div class="row col-md-10 col-md-offset-1">
<!-- 			<label class="col-sm-2 col-xs-12">
			<a class="btn btn-blue" href="/regfile" target="_blank">繳交說明</a>
			</label> -->
			<label class="col-xs-12">
			<div class="text-xs-center">
				<a class="btn btn-blue" style="color:white;" href="XXX_第十六屆資訊種子書審題目.docx" target="_blank">下載第十六屆資訊種子培訓計畫書審題目</a>
			</div>
			</label>
		</div>
		<div class="row col-md-10 col-md-offset-1">
			<label for="registration" class="col-sm-2 col-xs-12">書審題目：</label>
			<div class="col-sm-8 col-xs-12">
				<p class="formatInfo">
					最新版本:
					<%
						if(files.registrationUT == null)
							files.registrationUT = "";

						if(files.registration == null)
							var url = "";
						else{
							var url = files.registration;
							var start = url.search("/") + 1;
							url = url.slice(start);
							start = url.search("/") + 1;
							url = url.slice(start);
							start = url.search("/") + 1;
							url = url.slice(start);
						}
					%>
					<a href="<%= files.registration %>"><%= url %></a><br>
					<!-- <strong><%= url %></strong> -->
					<!-- <br> -->
					<!-- 上傳時間: -->
					<!-- <b><%= files.registrationUT %></b> -->
					<!-- <br> -->
					<!-- <span>因系統因素，目前檔案上傳後無法檢視，但資料上傳功能皆正常，請報名者不用擔心！</span> -->
				</p>
				<form action="/uploadReg" method="post" enctype="multipart/form-data">
					<p class="formatInfo">
						完成下載培訓計畫報名表，並填寫完畢後<br>
						請以<b class="red">「pdf」</b>檔案格式上傳報名表。上傳限制大小為<b class="red"> 5MB</b><br>
						
						檔案命名規則請依此格式撰寫
						<b>「姓名_第十六屆資訊種子書審題目」</b><br>
						(如：報名者姓名為 陳資種 ，則將檔案命名為<b>陳資種_第十六屆資訊種子書審題目</b>)
						<br><br>
						上傳方式：點選「選擇檔案」，完成選取檔案後，點選「上傳」<br>
						※ 可以重複上傳檔案<br>
						<!-- <b>「英文名子_Registration」</b>。<br> -->
						<!-- (如：報名者林資種的英文翻譯名字為Zi-Zhong,Lin，則將檔案命名為 -->
						<!-- 「ZiZhongLin_Registration」)。 -->
					</p>
					<div class="text-xs-center">
						<input type="file" name="registration">
						<button type="button" class="btn btn-default">選擇檔案</button>
						<button type="submit" style="color:white;" class="btn btn-main-file">上傳</button>
					</div>
				</form>
			</div>
		</div>
		<div class="row col-md-10 col-md-offset-1">
			<label for="autobiography" class="col-sm-2 col-xs-12">基本資料：</label>
			<div class="col-sm-8 col-xs-12">
				<p class="formatInfo">
					最新版本:
					<%
						if(files.autobiographyUT == null)
							files.autobiographyUT = "";

						if(files.autobiography == null)
							var url = "";
						else{
							var url = files.autobiography;
							var start = url.search("/") + 1;
							url = url.slice(start);
							start = url.search("/") + 1;
							url = url.slice(start);
							start = url.search("/") + 1;
							url = url.slice(start);
						}
					%>
					<a href="<%= files.autobiography %>"><%= url %></a><br>
					<!-- <strong><%= url %></strong> -->
					<!-- <br> -->
					<!-- 上傳時間: -->
					<!-- <b><%= files.autobiographyUT %></b> -->
					<!-- <br><br> -->
					<!-- <span>因系統因素，目前檔案上傳後無法檢視，但資料上傳功能皆正常，請報名者不用擔心！</span> -->
				</p>
				<form action="/uploadAut" method="post" enctype="multipart/form-data">
					<div class="applicant-file">
					<div>
						請以<b class="red">「pdf」</b>上傳限制大小為<b class="red"> 5MB</b><br>檔案格式上傳基本資料。基本資料內建議包含以下資訊
					</div>
					<div>
						<span>履歷</span>
						<div>
						<ol>
							<li>一頁以內</li>
							<li>建議內含：姓名、聯絡方式、系級（未來一學年）、照片、學歷、經歷、專長能力，及其他有利審查資料</li>
						</ol>
						</div>
					</div>
				
					<div>
						<span>學生證明</span>
						學生證正反面影本或照片、研究所錄取證明書影本或照片
					</div>
					<!-- <p class="formatInfo"> -->
						
						檔案命名規則請依此格式撰寫<b>「姓名_基本資料」</b>。<br>
						(如：報名者 陳資種，則將檔案命名為
						<b>「陳資種_基本資料」</b>)。
						<br><br>
						上傳方式：點選「選擇檔案」，完成選取檔案後，點選「上傳」<br>
						※ 可以重複上傳檔案<br>
					<!-- </p> -->
				</div>
					<div class="text-xs-center">
						<input type="file" name="autobiography">
						<button type="button" class="btn btn-default">選擇檔案</button>
						<button type="submit" style="color:white;" class="btn btn-main-file">上傳</button>
					</div>
				</form>
				
			</div>
			<div class="col-xs-12 confirm-btn">
				<form action="/confirm" method="post">
					<div class="text-xs-center">
						<p>當完成撰寫並上傳書審題目和基本資料</p>
						<p>且確定不再更改後，請按下此按鈕完成繳交的動作</p>
						<button type="submit" class="btn-lg btn-blue" style="color:white">完成書審資料</button>
					</div>
				</form>
<!-- 				<script type="text/javascript">
					function fileF(){
						confirm("若確定完成書審資料，請按下確定鍵\n（按下確定鍵後，即無法修改）");
					}
				</script> -->
			</div>
		</div>
		<% } %>

<!-- 		<div class="row col-md-10 col-md-offset-1">
			<label for="receipt" class="col-sm-2 col-xs-12">匯款證明</label>
			<div class="col-sm-8 col-xs-12">
				<p class="formatInfo">
					最新版本:
					<%
						if(files.receiptUT == null)
							files.receiptUT = "";

						if(files.receipt == null)
							var url = "";
						else{
							var url = files.receipt;
							var start = url.search("/") + 1;
							url = url.slice(start);
							start = url.search("/") + 1;
							url = url.slice(start);
							start = url.search("/") + 1;
							url = url.slice(start);
						}
					%>
					<a href="<%= files.receipt %>"><%= url %></a><br>
					上傳時間:
					<b><%= files.receiptUT %></b>
				</p>
				<form action="/uploadRec" method="post" enctype="multipart/form-data">	
					<p class="formatInfo">
						請以<b class="red">「pdf」</b>檔案格式上傳自傳。上傳限制大小為<b class="red"> 5MB</b><br>
						檔案命名規則請依照此格式撰寫<br>
						<b>「英文名子_Receipt」</b>。<br>
						(如：報名者林資種的英文翻譯名字為Zi-Zhong,Lin，則將檔案命名為
						「ZiZhongLin_Receipt」)。
					</p>
				<% if (system == "open") {%>
					<div>
						<input type="file" name="receipt">
						<button type="button" class="btn btn-default">選擇檔案</button>
						<button type="submit" class="btn btn-blue">送出</button>
					</div>
				<% } %>
				

				</form>
			</div>
		</div> -->
		
<!-- 		<div class=" row col-xs-12">
			<% if (files.allFiles == 1){ %>
				<button class="btn-lg btn-blue" onclick="discF()">完成書審資料</button>
				<script type="text/javascript">
					function discF(){
						confirm("若確定完成，請按下確認鍵");
					}
				</script>
			<% } %>
			<div class="text-xs-center">
			<% if (files.finished == 1){ %>
				<%= files.finished %>
				<div>
					<form action="/files" method="post">
						<button type="submit" name="allFiles" value="2" class="btn-lg btn-blue" onclick="discF()">確認書審資料</button>
						<script type="text/javascript">
							function discF(){
								confirm("若確定完成書審資料，請按下確定\n ※按下確定後即不可修改");
							}
						</script>
					</form>
				</div>
			<% } else {%>
				<div>
					<p>報名狀態：上傳尚未完成</p>
				</div>
			<% } %>
			</div>
		</div> -->
		<hr>
		<div class="row col-md-10 col-md-offset-1">
			<label for="autobiography" class="col-sm-2 col-xs-12">貝殼集器：</label>
			<div class="col-sm-8 col-xs-12">
				<p class="formatInfo">
					完成資料填寫後，請至貝殼集器繳交100元報名費<br>
					繳交完畢後預計於三個工作天內回覆<br>
					若三天內未收到回覆，請來信至itseed16th@gmail.com詢問<br>
					<a style="display: block; text-align: center;" href=<%= process.env.payLink %> target="_blank">
						<img src="/images/index/backme.png" class="backme">
					</a>
				</p>
				<div class="text-xs-center">
					<a href=<%= process.env.payLink %> target="_blank">
						<button class="btn btn-blue" style="color:white; font-size: 15px;">馬上前往</button>
					</a>
				</div>
			</div>
		</div>
	</div>
</section>

<!--FOOTER-->
<% include ../footer %>
<!--END FOOTER-->
