<script src="/js/specifies/jquery.validate.min.js"></script>
<script src="/js/specifies/messages_zh_TW.min.js"></script>
<script src="/js/specifies/frontend/userFiles.js"></script>

<!--HEADER-->
<% include ../header %>

<!--END HEADER-->

<section class="bg-white" id="files">
	<div class="container">
		<div class="row col-md-10 col-md-offset-1">
			<ul class="nav nav-tabs">
				<li><a href="/profile">個人資料</a></li>
				<li><a href="/disc">DISC測驗</a></li>
				<li class="active"><a href="/files">書審資料</a></li>
			</ul>
		</div>
		<div class="row col-md-10 col-md-offset-1">
<!-- 			<label class="col-sm-2 col-xs-12">
			<a class="btn btn-green" href="/regfile" target="_blank">繳交說明</a>
			</label> -->
			<label class="col-xs-12">
			<div class="text-xs-center">
				<a class="btn btn-green" style="color:white;" href="files/_Registration.docx" target="_blank">下載第十五屆資訊種子培訓計畫報名表</a>
			</div>
			</label>
		</div>
		<div class="row col-md-10 col-md-offset-1">
			<label for="registration" class="col-sm-2 col-xs-12">書審題目</label>
			<div class="col-sm-8 col-xs-12">
				<p class="formatInfo">
					最新版本:
					<%
						if(files.registrationUT == null)
							files.registrationUT = "";

						if(files.registration == null)
							var url = "";
						else{
							var url = files.registration;
							var start = url.search("/") + 1;
							url = url.slice(start);
							start = url.search("/") + 1;
							url = url.slice(start);
							start = url.search("/") + 1;
							url = url.slice(start);
						}
					%>
					<a href="<%= files.registration %>"><%= url %></a><br>
					上傳時間:
					<b><%= files.registrationUT %></b>
				</p>
				<form action="/uploadReg" method="post" enctype="multipart/form-data">
					<p class="formatInfo">
						完成下載培訓計畫報名表，並填寫完畢後<br>
						請以<b class="red">「pdf」</b>檔案格式上傳報名表。上傳限制大小為<b class="red"> 5MB</b><br>
						檔案命名規則請依照此格式撰寫
						<b>「姓名_第十五屆資訊種子書審題目」</b><br>
						(如：報名者姓名為 陳資種 ，則將檔案命名為<b>陳資種_第十五屆資訊種子書審題目</b>)
						<!-- <b>「英文名子_Registration」</b>。<br> -->
						<!-- (如：報名者林資種的英文翻譯名字為Zi-Zhong,Lin，則將檔案命名為 -->
						<!-- 「ZiZhongLin_Registration」)。 -->
					</p>
				<% if (system == "open") {%>
					<div class="text-xs-center">
						<input type="file" name="registration">
						<button type="button" class="btn btn-default">選擇檔案</button>
						<button type="submit" style="color:white;" class="btn btn-green">送出</button>
					</div>
				<% } %>
				</form>
			</div>
		</div>
		<div class="row col-md-10 col-md-offset-1">
			<label for="autobiography" class="col-sm-2 col-xs-12">基本資料</label>
			<div class="col-sm-8 col-xs-12">
				<p class="formatInfo">
					最新版本:
					<%
						if(files.autobiographyUT == null)
							files.autobiographyUT = "";

						if(files.autobiography == null)
							var url = "";
						else{
							var url = files.autobiography;
							var start = url.search("/") + 1;
							url = url.slice(start);
							start = url.search("/") + 1;
							url = url.slice(start);
							start = url.search("/") + 1;
							url = url.slice(start);
						}
					%>
					<a href="<%= files.autobiography %>"><%= url %></a><br>
					上傳時間:
					<b><%= files.autobiographyUT %></b>
				</p>
				<form action="/uploadAut" method="post" enctype="multipart/form-data">
					<div class="applicant-file">
					<div>
						請以<b class="red">「pdf」</b>上傳限制大小為<b class="red"> 5MB</b><br>檔案格式上傳基本資料。基本資料內建議包含以下資訊
					</div>
					<div>
						<span>履歷</span>
						<div>
						<ol>
							<li>一頁以內</li>
							<li>建議內含基本資料，姓名、聯絡方式、系級、照片、學歷、經歷、專長能力</li>
							<li>其他有利審查資料，此為選擇繳交</li>
						</ol>
						</div>
					</div>
					<div>
						<span>自傳</span>
						600字以內
					</div>
					<div>
						<span>學生證明</span>
						學生證正反面影本或照片、研究所錄取證明書影本或照片
					</div>
					<!-- <p class="formatInfo"> -->
						
						檔案命名規則請依照此格式撰寫<b>「姓名_基本資料」</b>。<br>
						(如：報名者 陳資種，則將檔案命名為
						<b>「陳資種_基本資料」</b>)。
					<!-- </p> -->
				</div>
				<% if (system == "open") {%>
					<div class="text-xs-center">
						<input type="file" name="autobiography">
						<button type="button" class="btn btn-default">選擇檔案</button>
						<button type="submit" style="color:white;" class="btn btn-green">送出</button>
					</div>
				<% } %>
				</form>
			</div>
		</div>

<!-- 		<div class="row col-md-10 col-md-offset-1">
			<label for="receipt" class="col-sm-2 col-xs-12">匯款證明</label>
			<div class="col-sm-8 col-xs-12">
				<p class="formatInfo">
					最新版本:
					<%
						if(files.receiptUT == null)
							files.receiptUT = "";

						if(files.receipt == null)
							var url = "";
						else{
							var url = files.receipt;
							var start = url.search("/") + 1;
							url = url.slice(start);
							start = url.search("/") + 1;
							url = url.slice(start);
							start = url.search("/") + 1;
							url = url.slice(start);
						}
					%>
					<a href="<%= files.receipt %>"><%= url %></a><br>
					上傳時間:
					<b><%= files.receiptUT %></b>
				</p>
				<form action="/uploadRec" method="post" enctype="multipart/form-data">	
					<p class="formatInfo">
						請以<b class="red">「pdf」</b>檔案格式上傳自傳。上傳限制大小為<b class="red"> 5MB</b><br>
						檔案命名規則請依照此格式撰寫<br>
						<b>「英文名子_Receipt」</b>。<br>
						(如：報名者林資種的英文翻譯名字為Zi-Zhong,Lin，則將檔案命名為
						「ZiZhongLin_Receipt」)。
					</p>
				<% if (system == "open") {%>
					<div>
						<input type="file" name="receipt">
						<button type="button" class="btn btn-default">選擇檔案</button>
						<button type="submit" class="btn btn-green">送出</button>
					</div>
				<% } %>
				

				</form>
			</div>
		</div> -->
		
<!-- 		<div class=" row col-xs-12">
			<% if (files.allFiles == 1){ %>
				<button class="btn-lg btn-green" onclick="discF()">完成書審資料</button>
				<script type="text/javascript">
					function discF(){
						confirm("若確定完成，請按下確認鍵");
					}
				</script>
			<% } %>
			<div class="text-xs-center">
			<% if (files.finished == 1){ %>
				<%= files.finished %>
				<div>
					<form action="/files" method="post">
						<button type="submit" name="allFiles" value="2" class="btn-lg btn-green" onclick="discF()">確認書審資料</button>
						<script type="text/javascript">
							function discF(){
								confirm("若確定完成書審資料，請按下確定\n ※按下確定後即不可修改");
							}
						</script>
					</form>
				</div>
			<% } else {%>
				<div>
					<p>報名狀態：上傳尚未完成</p>
				</div>
			<% } %>
			</div>
		</div> -->
		
<!-- 		<div class="col-xs-12">
			<% if (files.finished == 1){ %>
				<div>報名狀態：書面審查完成</div>
			<% } else { %>
				<div>報名狀態：書面審查未完成</div>
			<% } %>
			<% if (disc.finished == 1){ %>
				<div>
					<p>報名狀態：disc測驗完成</p>
				</div>
			<% } else {%>
				<div>
					<p>報名狀態：disc尚未完成</p>
				</div>
			<% } %>
			<% if (user.finished == 1){ %>
				<div>
					<p>報名狀態：個人資料完成</p>
				</div>
			<% } else {%>
				<div>
					<p>報名狀態：個人資料尚未完成</p>
				</div>
			<% } %>
		</div> -->
		<div class="row col-md-10 col-md-offset-1">
			<label for="autobiography" class="col-sm-2 col-xs-12">貝殼集器</label>
			<div class="col-sm-8 col-xs-12">
				<p class="formatInfo">
					完成資料填寫後，請至貝殼集器繳交100元報名費<br>
					繳交完畢後預計於一個工作天內回覆<br>
					<a href="https://itseed15.backme.tw/checkout/585/2936" target="_blank">
						<img src="/images/index/backme.png" class="backme">
					</a>
				</p>
				<div class="text-xs-center">
					<a href="https://itseed15.backme.tw/checkout/585/2936" target="_blank">
						<button class="btn btn-green" style="color:white; font-size: 15px;">馬上前往</button>
					</a>
				</div>
			</div>
		</div>
		<% include ../pages/checkFile %>
	</div>
</section>

<!--FOOTER-->
<% include ../footer %>
<!--END FOOTER-->
