<script src="//cdn.datatables.net/1.10.7/js/jquery.dataTables.min.js"></script>
<script src="//cdn.datatables.net/plug-ins/1.10.7/integration/bootstrap/3/dataTables.bootstrap.js"></script>
<div id="wrapper">
    <!--HEADER-->
    <% include ../header %>
        <!--END HEADER-->

        <div class="scrollY" id="page-wrapper">
            <div id="applicantsTable">
                <header>
                    <h3>使用者資料</h3>
                </header>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th class="col-md-1"></th>
                            <th class="col-md-1">照 片</th>
                            <th class="col-md-1">會員權限</th>
                            <th class="col-md-1">姓 名</th>
                            <th class="col-md-1">學 校</th>
                            <th class="col-md-1">系 級</th>
                            <th class="col-md-2">信 箱</th>
                            <th class="col-md-1">是否為google登入</th>
                            <th class="col-md-2">建立時間</th>
                            <th class="col-md-1">操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for (var i = 0; i < users.length; i++) { %>
                            <tr>
                                <td class="selector">
                                    <input type="checkbox">
                                </td>
                                <td>
                                    <img src="<%= users[i].photo %>" class="img-responsive">
                                </td>
                                <td class="user-type">
                                    <% if (users[i].type == null) { %>
                                        <span>.</span>
                                    <% } else { %>
                                        <%= users[i].type %>
                                    <% } %>

                                </td>
                                <td>
                                    <% if (users[i].name == null) { %>
                                        <span>.</span>
                                    <% } else { %>
                                        <%= users[i].name %>
                                    <% } %>

                                </td>
                                <td>
                                    <% if (users[i].school == null) { %>
                                        <span>.</span>
                                    <% } else { %>
                                        <%= users[i].school %>
                                    <% } %>
                                </td>
                                <td>
                                    <% if (users[i].grade == null) { %>
                                        <span>.</span>
                                    <% } else { %>
                                        <%= users[i].grade %>   
                                    <% } %>
                                </td>
                                <td>
                                    <a class="email" href="https://mail.google.com/mail/?view=cm&fs=1&to=<%= users[i].email %>" target="_blank">
                                        <%= users[i].email %>
                                    </a>
                                </td>
                                <td>
                                    <% if (users[i].gIdToken == null) { %>
                                        否
                                    <% } else { %>
                                        是
                                    <% } %>
                                </td>
                                <td><%=users[i].createdAt%></td>
                                <td>
                                    <button data-name="<%=users[i].name%>" data-email="<%=users[i].email%>" class="btn-danger reset-pass-btn">重設密碼</button>
                                    <button data-name="<%=users[i].name%>" data-email="<%=users[i].email%>" data-type="A" class="btn-warning set-user-type-btn">設為管理員</button>
                                    <button data-name="<%=users[i].name%>" data-email="<%=users[i].email%>" data-type="U" class="btn-warning set-user-type-btn">設為報名會員</button>
                                    <button data-name="<%=users[i].name%>" data-email="<%=users[i].email%>" data-type="T" class="btn-warning set-user-type-btn">設為測試會員</button>
                                </td>
                            </tr>
                            <% } %>
                    </tbody>
                </table>
            </div>
        </div>
</div>
<script src="/js/specifies/backend/accounts.js"></script>