<script src="//cdn.datatables.net/1.10.7/js/jquery.dataTables.min.js"></script>
<script src="//cdn.datatables.net/plug-ins/1.10.7/integration/bootstrap/3/dataTables.bootstrap.js"></script>
<script src="/js/specifies/backend/applicants.js"></script>
<div id="wrapper">
    <!--HEADER-->
    <% include ../header %>
    <!--END HEADER-->

    <div class="scrollY" id="page-wrapper">
        <div id="applicantsTable">
            <header>
                <h3>報名者資料</h3>
                <button type="button" class="btn btn-default"><input type="checkbox" id="selectAll"></button>
                <button type="button" class="btn btn-default" id="mailTo">寄信</button>
            </header>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th class="col-md-1"></th>
                        <th class="col-md-1">照  片</th>
                        <th class="col-md-1">姓  名</th>
                        <th class="col-md-1">學  校</th>
                        <th class="col-md-1">系  級</th>
                        <th class="col-md-2">信  箱</th>
                        <th class="col-md-1">電  話</th>
                        <th class="col-md-1">推薦人</th>
                        <th class="col-md-1">報名表</th>
                        <th class="col-md-1">自  傳</th>
                        <th class="col-md-1">DISC</th>
                        <th class="col-md-1">消息來源</th>
                    </tr>
                </thead>
                <tbody>
                <% for (var i = 0; i < users.length; i++) { %>
                    <tr>
                        <td class="selector">
                            <input type="checkbox">
                        </td>
                        <td>
                            <img src="<%= users[i].photo %>" class="img-responsive">
                        </td>
                        <td>
                            <% if (users[i].name == null) { %>
                                <span>.</span>
                            <% } else { %>
                                <%= users[i].name %>
                            <% } %>
                            
                        </td>
                        <td>
                            <% if (users[i].school == null) { %>
                                <span>.</span>
                            <% } else { %>
                                <%= users[i].school %>
                            <% } %>
                        </td>
                        <td>
                            <% if (users[i].grade == null) { %>
                                <span>.</span>
                            <% } else { %>
                                <%= users[i].grade %>
                            <% } %>
                        </td>
                        <td>
                            <a class="email" href="https://mail.google.com/mail/?view=cm&fs=1&to=<%= users[i].email %>" target="_blank"><%= users[i].email %></a>
                        </td>
                        <td>
                            <% if (users[i].phone == null) { %>
                                <span>.</span>
                            <% } else { %>
                                <%= users[i].phone %>
                            <% } %>
                        </td>
                        <td>
                            <% if (users[i].reference == null) { %>
                                <span>無</span>
                            <% } else { %>
                                <%= users[i].reference%>
                            <% } %>
                        </td>
                        <% if (users[i].files.confirm == 1) { %>
                            <td style="background-color: #FFDDAA;">
                                <a href="<%= users[i].files.registration %>" target="_blank">
                                    <%= users[i].files.registrationUT %>
                                </a>                                
                            </td>
                            <td style="background-color: #FFDDAA;">
                                <a href="<%= users[i].files.autobiography %>" target="_blank">
                                    <%= users[i].files.autobiographyUT %>
                                </a>                               
                            </td>
                        <% } else {%>
                            <td>
                                <% if (users[i].files.registration == null) { %>
                                    <b class="red">未上傳</b>
                                <% } else { %>
                                    <a href="<%= users[i].files.registration %>" target="_blank">
                                        <%= users[i].files.registrationUT %>
                                    </a>
                                <% } %>
                            </td>
                            <td>
                            <% if (users[i].files.autobiography == null) { %>
                                <b class="red">未上傳</b>
                            <% } else { %>
                                <a href="<%= users[i].files.autobiography %>" target="_blank">
                                    <%= users[i].files.autobiographyUT %>
                                </a>
                            <% } %> 
                            </td>
                        <% }%>
                        <% if (users[i].disc !=undefined && users[i].disc.animal == null) { %>
                            <td>
                                <span>未填寫</span>
                            </td>
                        <% } else { %>
                            <td style="background-color: #FFDDAA;">
                                <%= users[i].disc.animal %><br>
                                <p>老虎(<%= users[i].disc.a1 %>),孔雀(<%= users[i].disc.a2 %>),無尾熊(<%= users[i].disc.a3 %>),貓頭鷹(<%= users[i].disc.a4 %>)  </p>
                            </td>
                        <% } %> 
                        <% if (users[i].survey !=undefined ) { %>
                            <td>
                                <span><%= users[i].survey %></span>
                            </td>
                        <% } else { %>
                            <td>
                                <span>為提供來源</span>
                            </td>
                        <% } %> 
                        </td>
                    </tr>
                <% } %>
                </tbody>
            </table>
        </div>
    </div>
</div>