<script>
    $(function() {
        /*$("input[type=radio][name=device]").change(function() {
            if (this.value == "desktop") {
                $("#page").css("width", "992px");
            }
            else if (this.value == "tablet") {
                $("#page").css("width", "768px");
            }
            else{
                $("#page").css("width", "320px");
            }          
        });*/
        var editing = <%- JSON.stringify(editing) %>;
        var status = <%- JSON.stringify(status) %>;
        var total = <%- JSON.stringify(total) %>;
        var draftNum = <%- JSON.stringify(draftNum) %>;
        var publishNum = <%- JSON.stringify(publishNum) %>;
        var scheduleNum = <%- JSON.stringify(scheduleNum) %>;

        $("#"+editing).addClass("open");
        $("#"+editing+">ul").css("display", "block");
        $("#"+editing+" li."+status).addClass("active");
        $("#"+editing+" li.all span").append("("+total+")");
        $("#"+editing+" li.draft span").append("("+draftNum+")");
        $("#"+editing+" li.publish span").append("("+publishNum+")");
        $("#"+editing+" li.schedule span").append("("+scheduleNum+")");
    });
</script>
<div id="wrapper">
    <!--HEADER-->
    <% include ../header %>
    <!--END HEADER-->

    <!--ASIDE-->
    <% include ../cms-menu %>
    <!--END ASIDE-->

    <div id="page-wrapper">
        <header>
            <button type="button" class="btn btn-default"><input type="checkbox"></button>
            <div class="btn-group">
                <button type="button" class="btn btn-default">發佈</button>
                <button type="button" class="btn btn-default">還原為草稿</button>
                <button type="button" class="btn btn-default"><i class="fa fa-trash-o fa-fw"></i></button>
            </div>
        </header>
        <table class="table">
            <thead>
                <tr>
                    <th class="col-md-1"></th>
                    <th class="col-md-5">標題</th>
                    <th class="col-md-2">狀態</th>
                    <th class="col-md-2">作者</th>
                    <th class="col-md-2">日期</th>
                </tr>
            </thead>
            <tbody>
            <% for(var i = 0; i < articles.length; i++){ %>
                <tr>
                    <th scope="row"><input type="checkbox"></th>
                    <td>
                        <div class="title">
                            <%= articles[i].title %>
                        </div>
                        <div class="title">
                            <a href="#">編輯</a> | <a href="#">預覽</a> | <a href="#">刪除</a>
                        </div>    
                    </td>
                    <% if(articles[i].status == "D"){ %>
                        <td>草稿</td>
                    <% } else if(articles[i].status == "S"){ %>
                        <td>已排程</td>
                    <% } else { %>
                        <td></td>
                    <% } %>
                    <td><a href="#">作者名<!--<%= articles[i].author %>--></a></td>
                    <td><%= articles[i].createdAt %></td>
                </tr>
            <% } %>
                <!-- <tr>
                    <th scope="row"><input type="checkbox"></th>
                    <td>
                        <div class="title">
                            【台北基隆-熊米屋手工餅乾】
                        </div>
                        <div class="title">
                            <a href="#">編輯</a> | <a href="#">預覽</a> | <a href="#">刪除</a>
                        </div>    
                    </td>
                    <td>已排程</td>
                    <td><a href="#">小人物 故事 情</a></td>
                    <td>2013/11/21</td>
                </tr>
                <tr>
                    <th scope="row"><input type="checkbox"></th>
                    <td>
                        <div class="title">
                            【大誌雜誌-The Big Issue Taiwan】
                        </div>
                        <div class="title">
                            <a href="#">編輯</a> | <a href="#">預覽</a> | <a href="#">刪除</a>
                        </div>   
                    </td>
                    <td>草稿</td>
                    <td><a href="#">Ryan Chiu</a></td>
                    <td>2013/11/15</td>
                </tr>
                <tr>
                    <th scope="row"><input type="checkbox"></th>
                    <td>
                        <div class="title">
                            【台北街頭-盲人歌手徐承邦】
                        </div>
                        <div class="title">
                            <a href="#">編輯</a> | <a href="#">檢視</a> | <a href="#">刪除</a>
                        </div>   
                    </td>
                    <td>草稿</td>
                    <td><a href="#">Ryan Chiu</a></td>
                    <td>2013/11/15</td>
                </tr> -->
            </tbody>
        </table>
    </div>
</div>