<script src="/js/specifies/backend/editor.js"></script>
<script>
    $(function() {
        /*接收後端傳來的參數*/
        var action = <%- JSON.stringify(action) %>;
    
        /*根據正在管理的頁面調整menu的UI*/
        editorUI();
        /*選單欄開合事件*/
        menuUI()
        /*綁定事件*/
        setOperation(action);
    });
</script>
<div id="wrapper">
    <!--HEADER-->
    <% include ../header %>
    <!--END HEADER-->

    <div id="page-wrapper" class="no-padding">
        <header class="editor-header">
            <form id="form-edit">
                <% if(post.status == "new"){ %>
                    <input type="text" class="form-control" id="title" name="title" placeholder="文章標題">
                    <input type="text" class="hidden" id="id" name="id">
                <% } else{ %>
                    <input type="text" class="form-control" id="title" name="title" placeholder="文章標題" value="<%= post.title %>">
                    <input type="text" class="hidden" id="id" name="id" value="<%= post.id %>">
                <% } %>
                <input type="text" class="hidden" id="content" name="content">
                <input type="text" class="hidden" id="status" name="status" value="<%= post.status %>">
                <span>
                    <% if(post.status == "new"){ %>
                        <button type="button" class="btn btn-danger" id="newPost">發佈</button>
                        <button type="button" class="btn btn-default" id="newDraft">儲存</button>
                    <% } else if(post.status == "D"){ %>
                        <button type="button" class="btn btn-danger" id="publish">發佈</button>
                        <button type="button" class="btn btn-default" id="update">儲存</button>
                    <% } else{ %>
                        <button type="button" class="btn btn-danger" id="toDraft">還原為草稿</button>
                        <button type="button" class="btn btn-default" id="update">儲存</button>
                    <% } %>
                    <button type="button" class="btn btn-default" id="preview" target="_blank">預覽</button>
                    <button type="button" class="btn btn-default" id="close">關閉</button>
                </span>
            </form>
            <form action="<%= action.preview %>" class="hidden" id="form-preview" target="_blank">
                <input type="text" name="method" value="post">
                <input type="text" class="title" name="title">
                <input type="text" class="content" name="content">
            </form>
        </header>

        <!--ASIDE-->
        <aside>
            <div id="setting" class="accordion">
                <div class="title">文章設定</div>
                <ul>
                    <% if(menu.tag == "on") { %>
                    <li class='has-sub'>
                        <a href='#'><i class="fa fa-tag fa-fw"></i><span>標籤</span></a>
                        <div class="settings">
                            <form action="">
                                <textarea name="" id="" cols="30" rows="10"></textarea>
                                <p>以逗號區隔標籤</p>
                                <p>
                                    夏天, 是, 地表第一, 大, 帥哥
                                </p>
                                <button type="submit" class="btn btn-default">完成</button>
                            </form>
                        </div>
                    </li>
                    <% } %>
                    <% if(menu.datepicker == "on") { %>
                    <li class='has-sub'>
                        <a href='#'><i class="fa fa-calendar fa-fw"></i><span>日期和時間</span></a>
                        <div class="settings">
                            <form action="">
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="time" value="auto" checked>
                                        自動
                                    </label>
                                </div>
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="time" value="manual">
                                        設定日期及時間
                                    </label>
                                </div>
                                <button type="submit" class="btn btn-default">完成</button>
                            </form>
                        </div>
                    </li>
                    <% } %>
                </ul>
            </div>
        </aside>
        <!--END ASIDE-->
        
        <div class="summernote">
            <% if (typeof post.content !== 'undefined') { %>
                <%- post.content %>
            <% } %>
        </div>
    </div>
</div>
