<script src="//cdnjs.cloudflare.com/ajax/libs/codemirror/3.20.0/codemirror.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/codemirror/3.20.0/mode/xml/xml.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/codemirror/2.36.0/formatting.min.js"></script>
<script src="/js/specifies/backend/editor.js"></script>
<script>
    $(function() {
        /*接收後端傳來的參數*/
        var action = <%- JSON.stringify(action) %>;
    
        /*根據正在管理的頁面調整menu的UI*/
        editorUI();
        /*選單欄開合事件*/
        menuUI();
        /*綁定事件*/
        setOperation(action);
    });
</script>
<div id="wrapper">
    <!--HEADER-->
    <% include ../header %>
    <!--END HEADER-->

    <div id="page-wrapper" class="no-padding">
        <header class="editor-header">
            <form method="post" id="form-edit">
                <% if(post.status == "new"){ %>
                    <input type="text" class="form-control" id="title" name="title" placeholder="文章標題">
                    <input type="text" class="hidden" id="id" name="id">
                <% } else{ %>
                    <input type="text" class="form-control" id="title" name="title" placeholder="文章標題" value="<%= post.title %>">
                    <input type="text" class="hidden" id="id" name="id" value="<%= post.id %>">
                <% } %>
                <textarea class="hidden" id="content" name="content"></textarea>
                <input type="text" class="hidden" id="status" name="status" value="<%= post.status %>">
                <span>
                    <% if(post.status == "new"){ %>
                        <button type="button" class="btn btn-danger" id="newPost">發佈</button>
                        <button type="button" class="btn btn-default" id="newDraft">儲存</button>
                    <% } else if(post.status == "D"){ %>
                        <button type="button" class="btn btn-danger" id="publish">發佈</button>
                        <button type="button" class="btn btn-default" id="update">儲存</button>
                    <% } else{ %>
                        <button type="button" class="btn btn-danger" id="toDraft">還原為草稿</button>
                        <button type="button" class="btn btn-default" id="update">儲存</button>
                    <% } %>
                    <button type="button" class="btn btn-default" id="preview" target="_blank">預覽</button>
                    <button type="button" class="btn btn-default" id="close">關閉</button>
                </span>
            </form>
            <form action="<%= action.preview %>" method="post" class="hidden" id="form-preview" target="_blank">
                <input type="text" class="title" name="title">
                <textarea class="content" name="content"></textarea>
            </form>
        </header>

        <!--ASIDE-->
        <aside>
            <div id="setting" class="accordion">
                <div class="settings">
                    <div>文章設定</div>
                    <ul>
                        <li class='other-attributes'>
                            <form method="post" id="form-extra">
                            <% if(typeof post.th !== 'undefined'){ %>
                                <div>
                                    <label>屆數</label>
                                <% if(post.status == "new"){ %>
                                    <input type="text" class="form-control" name="th" placeholder="ex: 12">
                                <% } else{ %>
                                    <input type="text" class="form-control" name="th" placeholder="ex: 12" value="<%= post.th %>">
                                <% } %>
                                </div>
                            <% } %>
                            <% if(typeof post.speaker !== 'undefined'){ %>
                                <div>
                                    <label>講者</label>
                                <% if(post.status == "new"){ %>
                                    <input type="text" class="form-control" name="speaker" placeholder="ex: 陳芬玉">
                                <% } else{ %>
                                    <input type="text" class="form-control" name="speaker" placeholder="ex: 陳芬玉" value="<%= post.speaker %>">
                                <% } %>
                                </div>
                            <% } %>
                            <% if(typeof post.speakerTitle !== 'undefined'){ %>
                                <div>
                                    <label>頭銜</label>
                                <% if(post.status == "new"){ %>
                                    <input type="text" class="form-control" name="speakerTitle" placeholder="ex: 總幹事">
                                <% } else{ %>
                                    <input type="text" class="form-control" name="speakerTitle" placeholder="ex: 總幹事" value="<%= post.speakerTitle %>">
                                <% } %>
                                </div>
                            <% } %>
                            <% if(typeof post.photo !== 'undefined'){ %>
                                <div>
                                    <label>封面相片</label>
                                <% if(post.status == "new"){ %>
                                    <input type="file" name="photo">
                                <% } else{ %>
                                    <img src="<%= post.photo %>" class="photo-preview img-responsive">
                                    <input type="text" class="hidden" name="oldPhoto" value="<%= post.photo %>">
                                    <input type="file" name="photo" accept="image/*">
                                <% } %>
                                </div>
                            <% } %>
                            </form>
                        </li>

                        <% if(menu.tag == "on") { %>
                        <li class='has-sub'>
                            <a href='#'><i class="fa fa-tag fa-fw"></i><span>標籤</span></a>
                            <div class="settings">
                                <form action="">
                                    <textarea name="" id="" cols="30" rows="10"></textarea>
                                    <p>以逗號區隔標籤</p>
                                    <p>
                                        夏天, 是, 地表第一, 大, 帥哥
                                    </p>
                                    <button type="submit" class="btn btn-default">完成</button>
                                </form>
                            </div>
                        </li>
                        <% } %>
                        <% if(menu.datePicker == "on") { %>
                            <% include ../plugins/datetimepicker %>
                        <% } %>
                    </ul>
                </div>
                <div class="plugins">
                    <div>外掛元件</div>
                    <ul>
                        <% include ../plugins/youtube %>
                    </ul>
                    <ul>
                        <% include ../plugins/slider %>
                    </ul>
                </div>
            </div>
        </aside>
        <!--END ASIDE-->
        
        <div class="summernote">
            <% if (typeof post.content !== 'undefined') { %>
                <%- post.content %>
            <% } %>
        </div>
    </div>
</div>
