<script src="/js/specifies/jquery.validate.min.js"></script>
<script src="/js/specifies/messages_zh_TW.min.js"></script>
<script src="/js/specifies/backend/profile.js"></script>

<!--HEADER-->
<% include ../header %>
<!--END HEADER-->
<style type="text/css">
    #profile{
        margin-top:100px;
    }
</style>
<section class="bg-white" id="profile">
    <div class="container">
        <div id="profile-nav" class="row col-md-10 col-md-offset-1">
            <ul class="nav nav-tabs profile-ul">
                <li class="active">
                    <a href="/profile">個人資料</a>
                </li>
            </ul>
        </div>
        <div class="row col-md-10 col-md-offset-1">
            <form action="/backend/profile" method="post" enctype="multipart/form-data" class="form-horizontal">
                <div class="col-sm-9 col-xs-12 set-profile">
                    <div class="form-group">
                        <label class="col-sm-2 col-xs-12 control-label" for="email">帳號：</label>
                        <div class="col-sm-10 col-xs-12">
                            <input type="text" name="email" readonly="readonly" class="btn-block" value="<%= user.email %>">
                        </div>
                    </div>
                    <div class="form-group password-hide">
                        <label class="col-sm-2 col-xs-12 control-label">密碼：</label>
                        <div class="col-sm-10 col-xs-12">
                            <span class="btn btn-default pwd-btn">更改密碼</span>
                        </div>
                    </div>
                    <div class="form-group password-part">
                        <label class="col-sm-2 col-xs-12 control-label" for="pwd">密碼：</label>
                        <div class="col-sm-10 col-xs-12">
                            <input type="password" name="pwd" class="btn-block" id="pwd" value="<%= req.session.pwd %>">
                        </div>
                    </div>
                    <div class="form-group password-part">
                        <label class="col-sm-2 col-xs-12 control-label" for="pwd_confirmation">確認密碼：</label>
                        <div class="col-sm-10 col-xs-12">
                            <input type="password" name="pwd_confirmation" id="conpwd" class="btn-block" value="<%= req.session.pwd %>">
                        </div>
                    </div>
                    <div class="form-group password-part">
                        <div class="col-xs-12" style="text-align: right;">
                            <% if(req.session.type == 'A') { %>
                                <button type="submit" class="btn btn-green" style="color:white;">確認</button>
                                <span class="btn btn-default pwd-stop-btn">取消</span>
                            <% } %>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 col-xs-12 control-label" for="th">屆數：</label>
                        <div class="col-sm-10 col-xs-12">
                            <% if(user.th == null){%>
                                <input type="text" name="th" class="btn-block" id="th">
                            <% } else{ %>
                                <input type="text" name="th" class="btn-block" id="th" value="<%= user.th %>">
                            <% } %>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 col-xs-12 control-label" for="name">真實姓名
                            <b class="darkred">*</b>：</label>
                        <div class="col-sm-10 col-xs-12">
                            <input type="text" name="name" class="btn-block" id="name" placeholder="ex: 林資種" value="<%= (user.name)?user.name:''%>">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 col-xs-12 control-label" class="control-label">性別
                            <b class="darkred">*</b>：
                        </label>
                        <div class="col-sm-10 col-xs-12">
                            <label class="radio-inline">
                                <% if(user.gender == "M"){%>
                                    <input type="radio" name="gender" value="M" checked> 男
                                <% } else{ %>
                                    <input type="radio" name="gender" value="M"> 男
                                <% } %>
                            </label>
                            <label class="radio-inline">
                                <% if(user.gender == "F"){%>
                                    <input type="radio" name="gender" value="F" checked> 女
                                <% } else{ %>
                                    <input type="radio" name="gender" value="F"> 女
                                <% } %>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-xs-12 text-center">
                    <hr>
                    <button type="submit" class="btn-lg btn-green" style="color:white;">儲存個人資料</button>
                </div>
            </form>
        </div>
    </div>

</section>
